/*
Theme Name: Nfinance
Theme URI: http://www.createam.co
Description: A simple, three column, widget-ready WordPress theme.
Author: Aviv Keter
Author URI: http://www.createam.co
version: 5.1
*/

/* basics */

/*============================ NORMALIZE */

.wow {
    visibility: hidden;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
    display: block;
}

ol,
li {
    margin: 0px;
    padding: 0px;
}

ul {
    padding: 0 0 0 20px;
    margin: 0px;
}

body {
    color: #231f20;
    font-size: 18px;
    font-family: 'Assistant-Regular';
    direction: rtl;
    background: #FFF;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
a {
    margin: 0px;
    padding: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6,
b,
strong {
    font-family: 'Assistant-Bold';
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

th,
td,
caption {
    font-weight: normal;
    vertical-align: central;
}

q {
    quotes: none;
}

q:before,
q:after {
    content: "";
    content: none;
}

sub,
sup {
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: 10px;
}

sup {
    top: 10px;
}

svg {
    overflow: hidden;
}

hr {
    border: 0;
    border: 1px solid #eee;
    clear: both;
}

code {
    margin: 10px;
}

.clr {
    clear: both;
    display: block;
}

.cf:after,
.cf:before {
    clear: both;
    content: '';
    display: block;
    width: 100%;
}

img {
    max-width: 100%;
    display: block;
    border: 0px;
}

img a {
    border: none;
}

label {
    display: block;
}

input,
select {
    font-family: 'Assistant-Regular';
    width: 100%;
    color: #231f20;
    font-size: 29px;
    height: 32px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    text-align: right;
    padding: 0px 15px;
    background: #FFF;
}

textarea {
    font-family: 'Assistant-Regular';
    width: 100%;
    color: #231f20;
    font-size: 29px;
    height: 120px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    text-align: right;
    padding: 0px 15px;
    background: #FFF;
}

/*input {color: #000000; font-family: "Montserrat-Light"; font-size: 24px; font-weight: 500; line-height: 32px;}*/

select {
    -webkit-box-shadow: none;
    box-shadow: none;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    padding: 0 35px 0 5px;
}

select:focus,
input:focus {
    outline: none;
}

select::-ms-expand {
    display: none;
}

input[type=checkbox] {
    width: auto;
    height: auto;
    padding: 0px;
    border: 0px;
}

/**/

::-webkit-input-placeholder {
    color: #95949d;
}

:-moz-placeholder {
    color: #95949d;
    opacity: 1;
}

::-moz-placeholder {
    color: #95949d;
    opacity: 1;
}

:-ms-input-placeholder {
    color: #95949d;
}

/**/

input.wpcf7-not-valid,
.input-dummy.alerterr {
    border: 1px solid #000 !important;
}

textarea.wpcf7-not-valid {
    border: 1px solid #000 !important;
}

div.wpcf7 img.ajax-loader,
.div.wpcf7 .ajax-loader {
    display: none !important;
}

div.wpcf7 .ajax-loader.is-active {
    visibility: hidden !important;
}

div.wpcf7-validation-errors {
    margin: 10px 0 !important;
    text-align: center;
    color: #FFF !;
}

span.wpcf7-not-valid-tip {
    display: none !important;
}

div.wpcf7-response-output {
    margin: 10px 0 !important;
    text-align: center;
    color: #FFF !important;
}

/*==// SITE CSS */

a {
    text-decoration: none;
    border: none;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    cursor: pointer;
}

a:hover {
    text-decoration: none;
}

.main_container {
    max-width: 1920px;
    margin: 0px auto;
    overflow: hidden;
}

.wrap {
    max-width: 1200px;
    margin: 0px auto;
    position: relative;
}

/*---Header----*/

.logo {
    max-width: 408px;
    float: right;
}

.logo img {
    display: inline-block;
    width: 100%;
}


/**/

.header {
    position: relative;
    height: 488px;
}

.header.sticky {
    position: fixed;
    left: 0px;
    right: 0px;
    z-index: 999;
    background: rgba(255, 255, 255, 0.8);
    padding: 25px 0px 17px 0px;
}

.header_bg {
    background: url(images/header_bg1.png) repeat-x;
    position: absolute;
    width: 35%;
    height: 100%;
    left: 0px;
    z-index: 9;
}

.header_left {
    float: left;
    width: 35%;
    background: url(images/wrap_bg1.png) no-repeat right top;
    left: 0px;
    height: 488px;
    position: relative;
    z-index: 99;
}

.header_left:before {
    position: absolute;
    background: url(images/right_bg1.png) no-repeat left top;
    width: 273px;
    content: '';
    right: -273px;
    z-index: 99;
    height: 488px;
}

.header_form {
    width: 100%;
    padding: 60px 0px 0px 0px;
    position: relative;
    z-index: 99;
}

.header_form .formheading {
    padding-bottom: 7px;
    position: relative;
    margin-right: -30px;
    font-family: 'Assistant-SemiBold';
}

.header_form .formheading p {
    font-family: 'Assistan-ExtraBold';
    color: #FFF;
    margin: 0px;
    padding: 0px 0px 3px 0px;
    position: relative;
}

.header_form .formheading p span {
    font-size: 33px;
    font-family: 'Assistant-SemiBold';
}

.header_form .formheading p.slitop1 {
    font-size: 45px;
    line-height: 49px;
    padding-bottom: 10px;
}

.header_form .formheading p.slitop2 {
    font-size: 55px;
    line-height: 60px;
    margin-right: -20px;
}

.header_form .formheading p.slitop3 {
    font-size: 45px;
    line-height: 49px;
    margin-right: -50px;
}

.header_form .formheading .contacttitle {
    padding: 15px 0px;
}

.header_form .formheading .contacttitle p {
    font-size: 39px;
    line-height: 45px;
    color: #000;
    margin-right: -100px;
    font-family: 'Assistant-SemiBold';
}

.header_form div.wpcf7-response-output {
    position: relative;
    bottom: 0px;
    width: 100%;
    right: -10px;
    text-align: center;
    float: none;
    z-index: 99;
}

.contactheadform {
    margin-right: -190px;
}

.header_form .txtfield {
    margin-bottom: 5px;
    float: left;
    width: 26.7%;
    float: right;
    padding-left: 12px;
}

.header_form .txtfield input {
    width: 100%;
    color: #231f20;
    font-size: 15px;
    height: 30px;
    font-family: 'Assistant-Light';
}

.header_form .hecontbutton {
    float: right;
    margin: -5px 8px 0px 0px;
}

.header_form .hecontbutton .ajax-loader {
    float: left;
}

.header_form .hecontbutton input {
    margin: 0px;
    width: 60px;
    cursor: pointer;
    color: #e51c43;
    height: 60px;
    font-size: 20px;
    font-family: 'Assistant-Bold';
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    text-align: center;
    padding: 0px;
    top: -11px;
    position: relative;
}


.header_right {
    float: right;
    width: 58%;
    position: relative;
    padding-top: 10px;
}

/*.header_cut{ position:absolute; background: url(images/right_bg.png) no-repeat left top;}*/

.header_slider {
    right: -99px;
}

.slider_cap {
    max-width: 350px;
    float: left;
}

.header_slider .owl-dots {
    bottom: 0px;
}

.header_slider .owl-dot.active {
    background-color: #e51c43;
}

.slider_cps {
    width: 49.2%;
    position: absolute;
    top: 17%;
    left: 0px;
    text-align: center;
}

.slider_cps .slider_title {
    font-size: 89px;
    color: #414042;
    font-family: 'Assistan-ExtraBold';
    line-height: 100%;
    padding-bottom: 30px;
}

.slider_cps .slider_sub_text {
    font-size: 27px;
    color: #e51c43;
    line-height: 120%;
    font-family: 'Assistant-SemiBold';
    text-align: center;
}

.header_top {
    margin-bottom: 12px;
}

.hmenu {
    float: right;
    max-width: 650px;
    padding-top: 45px;
    padding-right: 10px;
}

.hmenu ul {
    display: block;
    text-align: center;
    margin: 0px;
    padding: 0px;
    text-align: center;
    position: relative;
    z-index: 999;
}

.hmenu ul li {
    display: block;
    float: right;
    vertical-align: top;
    position: relative;
    padding: 0px 7px;
}

.hmenu ul li:last-child {
    padding-left: 0px;
}

.hmenu ul li a {
    display: block;
    font-size: 16px;
    color: #231f20;
    padding: 5px 5px 7px 5px;
    font-family: 'Assistant-Regular';
    line-height: 16px;
    position: relative;
}

.hmenu ul li a:hover:after {
    position: absolute;
    bottom: 0px;
    content: "";
    width: 100%;
    border-bottom: 2px solid #e51c43;
}

.hmenu ul li:first-child {
    background: none;
}

.hmenu ul > li.current-menu-ancestor > a,
.hmenu ul > li.current_page_item > a,
.hmenu ul li a:hover,
.hmenu ul > li > a:focus {
    color: #e51c43;
}

.hmenu ul > li.current-menu-ancestor > a:after,
.hmenu ul > li.current_page_item > a:after,
.hmenu ul > li > a:hover:after,
.hmenu ul > li > a:focus:after {
    position: absolute;
    bottom: 0px;
    content: "";
    width: 100%;
    margin: 0px auto;
    color: #e51c43;
    left: 0px;
}



.hmenu ul li ul.sub-menu {
    position: absolute;
    width: 200px;
    right: -10px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    padding: 0px;
    z-index: 0;
    text-align: right;
    background: rgba(255, 255, 255, 0.9);
    -webkit-box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.2);
    padding: 10px 0px;
}

.hmenu ul li:hover ul {
    opacity: 1;
    visibility: visible;
    z-index: 999;
}

.hmenu ul li ul li {
    display: block;
    width: 100%;
    margin: 0 0px 0px 0px;
}

.hmenu ul li ul li a {
    display: block;
    color: #231f20;
    font-size: 16px;
    padding: 5px 10px;
    background: none;
    line-height: 16px;
}

.hmenu ul li ul li a:hover,
.hmenu ul li ul li a:focus {
    color: #e51c43;
    border-bottom: 0px solid #d5a720;
}

.hmenu ul > li.current-menu-ancestor > ul li a:after,
.hmenu ul > li > ul li.current_page_item a:after {
    display: none;
}

.hmenu ul > li > ul li.current_page_item a {
    font-weight: normal;
}

.hmenu ul li ul li a:hover:after,
.hmenu ul li ul li a:focus:after {
    border: 0px;
    display: none;
}

.hmenu ul li.current_page_item a {
    background: none;
    color: #e51c43;
}

.hmenu ul > li.current_page_item > a:after,
.hmenu ul > li.current-menu-ancestor > a:after,
.hmenu ul > li:hover > a:after {
    border-bottom: 2px solid #e51c43;
    position: absolute;
    content: '';
    bottom: 0px;
    left: 0px;
    width: 100%;
    margin: 0px auto;
}

.hmenu ul li.current_page_item ul li a,
.hmenu ul li.current-page-ancestor ul li a,
.hmenu ul li.current-page-ancestor ul li.current_page_item a {
    color: #231f20;
    background: none;
}

.hmenu ul li.current_page_item ul li a:hover {}

.hmenu ul li.current_page_item ul li a {
    background: none;
}

.hmenu ul li ul li.current_page_item a {
    background: none;
}

.hmenu ul li.current_page_ancestor a {
    background: none;
}

.tglmenu {
    display: none;
}

.nav-icon {
    width: 50px;
    height: 35px;
    position: relative;
    cursor: pointer;
}

.nav-icon span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: #000;
    opacity: 1;
    left: 0;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
    -webkit-transition-duration: .15s;
    transition-duration: .15s;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition: top .1s cubic-bezier(.33333, .66667, .66667, 1) .2s, -webkit-transform .13s cubic-bezier(.55, .055, .675, .19);
    transition: top .1s cubic-bezier(.33333, .66667, .66667, 1) .2s, -webkit-transform .13s cubic-bezier(.55, .055, .675, .19);
    transition: top .1s cubic-bezier(.33333, .66667, .66667, 1) .2s, transform .13s cubic-bezier(.55, .055, .675, .19);
    transition: top .1s cubic-bezier(.33333, .66667, .66667, 1) .2s, transform .13s cubic-bezier(.55, .055, .675, .19), -webkit-transform .13s cubic-bezier(.55, .055, .675, .19);
}

.nav-icon span:nth-child(1) {
    top: 0px;
}

.nav-icon span:nth-child(2) {
    top: 12px;
}

.nav-icon span:nth-child(3) {
    top: 24px;
}

.nav-icon.open span:nth-child(1) {
    opacity: 0;
    -webkit-transition-delay: .22s;
    transition-delay: .22s;
    background-color: transparent;
}

.nav-icon.open span:nth-child(2) {
    top: 7px;
    -webkit-transition: top .1s cubic-bezier(.33333, 0, .66667, .33333) .15s, -webkit-transform .13s cubic-bezier(.215, .61, .355, 1) .22s;
    transition: top .1s cubic-bezier(.33333, 0, .66667, .33333) .15s, -webkit-transform .13s cubic-bezier(.215, .61, .355, 1) .22s;
    transition: top .1s cubic-bezier(.33333, 0, .66667, .33333) .15s, transform .13s cubic-bezier(.215, .61, .355, 1) .22s;
    transition: top .1s cubic-bezier(.33333, 0, .66667, .33333) .15s, transform .13s cubic-bezier(.215, .61, .355, 1) .22s, -webkit-transform .13s cubic-bezier(.215, .61, .355, 1) .22s;
    -webkit-transform: translate3d(0, 10px, 0) rotate(45deg);
    transform: translate3d(0, 10px, 0) rotate(45deg);
}

.nav-icon.open span:nth-child(3) {
    top: 7px;
    -webkit-transition: top .2s cubic-bezier(.33333, 0, .66667, .33333), -webkit-transform .13s cubic-bezier(.215, .61, .355, 1) .22s;
    transition: top .2s cubic-bezier(.33333, 0, .66667, .33333), -webkit-transform .13s cubic-bezier(.215, .61, .355, 1) .22s;
    transition: top .2s cubic-bezier(.33333, 0, .66667, .33333), transform .13s cubic-bezier(.215, .61, .355, 1) .22s;
    transition: top .2s cubic-bezier(.33333, 0, .66667, .33333), transform .13s cubic-bezier(.215, .61, .355, 1) .22s, -webkit-transform .13s cubic-bezier(.215, .61, .355, 1) .22s;
    -webkit-transform: translate3d(0, 10px, 0) rotate(-45deg);
    transform: translate3d(0, 10px, 0) rotate(-45deg);
}

/*---------------Our Expertiese-------------*/

.our_expertise {
    text-align: center;
    padding-top: 36px;
    position: relative;
    z-index: 99;
}

.our_expertise h2 {
    font-size: 54px;
    line-height: 64px;
    margin: 0px;
    color: #e51c43;
    padding: 0px 0px 42px 0px;
    font-family: 'Assistan-ExtraBold';
    margin-top: 70px;
    width: 100%;
}

.our_expertise h3 {
    font-size: 42px;
    margin: 0px;
    line-height: 45px;
    padding: 0px 0px 20px 0px;
    font-family: 'Assistant-SemiBold';
}

.our_expertise ul {
    margin: 0px;
    padding: 0px;
    min-height: 383px;
}

.our_expertise ul li {
    width: 33.33%;
    padding: 0px 0px;
    float: right;
    display: block;
    font-family: 'Assistant-SemiBold';
    padding-top: 50px;
}

.our_expertise ul li a {
    display: block;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.our_expertise ul li p {
    font-size: 20px;
    line-height: 22px;
    color: #000;
}

/*.our_expertise ul li:first-child, .our_expertise ul li:last-child{ padding-top:79px;}
.our_expertise ul li h3{ font-size:36px; color:#e51c43; margin:0px; padding:2px 0px 0px 0px; font-family: 'Assistant-SemiBold'; padding-bottom:10px;}
.our_expertise ul li:first-child h3, .our_expertise ul li:last-child h3{ font-size:30px; color:#e51c43; padding-top:9px;}*/

.our_expertise ul li h3 {
    font-size: 30px;
    color: #e51c43;
    padding-top: 9px;
    transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
}

.our_expertise ul li img {
    display: inline-block;
    width: 151px;
    transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
}

.our_expertise ul li a:hover h3 {
    font-size: 36px;
    color: #e51c43;
    margin: 50px 0px 0px 0px;
    padding: 2px 0px 0px 0px;
    font-family: 'Assistant-SemiBold';
    padding-bottom: 10px;
}

.our_expertise ul li a:hover img {
    transform: scale(1.69);
    -webkit-transform: scale(1.69);
    -moz-transform: scale(1.69);
}

/*-----------------Middle Area-----------*/

.middle_area {
    position: relative;
    top: -30px;
}

.mdiddle_content {
    background: #FFF;
    padding-top: 6%;
}

.middle_top_border {
    position: absolute;
    top: 0px;
}

.middle_bottom_border {
    position: absolute;
    bottom: 0px;
}

.middle_left {
    float: left;
    width: 45.5%;
    min-height: 1100px;
}

.middle_left .middleim {
    display: none;
}

.middle_left img {
    width: 100%;
}

.middle_right {
    float: left;
    width: 54.5%;
    position: relative;
    z-index: 99;
}

.middle_inner {
    max-width: 690px;
    float: left;
    padding: 0px 30px;
}

.middle_inner h2 {
    font-size: 52px;
    line-height: 60px;
    color: #e51c43;
    font-family: 'Assistan-ExtraBold';
    padding: 0px 0px 40px 0px;
}

.middle_inner h3 {
    font-size: 44px;
    line-height: 48px;
    color: #000;
    font-family: 'Assistan-ExtraBold';
    padding: 0px 0px 45px 0px;
}

.middle_inner p {
    font-size: 29px;
    line-height: 40px;
    font-family: 'Assistant-Light';
    padding-bottom: 20px;
}

.middle_inner p strong {
    font-size: 40px;
    line-height: 44px;
    font-weight: normal;
    font-family: 'Assistant-Regular';
}

.middle_inner .rmore {
    padding-top: 16px;
    float: left;
}

.middle_inner .rmore a {
    display: inline-block;
    color: #231f20;
    border: 2px solid #231f20;
    font-size: 34px;
    line-height: 52px;
    padding: 0px 15px;
}

/*-------------------------Home Extension ----------------*/

.extension {
    padding: 44px 0px 0px 0px;
}

.extension ul {
    padding: 0px;
    margin: 0px -13px;
}

.extension ul li {
    display: block;
    float: right;
    width: 33.33%;
    padding: 38px 13px;
}

.extension ul li a {
    display: block;
    border: 3px solid #e51c43;
    border-radius: 90px;
    -webkit-border-radius: 90px;
    -moz-border-radius: 90px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.extension ul li a .extension_icon {
    background: #e51c43;
    height: 154px;
    width: 154px;
    float: left;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    line-height: 154px;
    text-align: center;
}

.extension ul li a:hover {
    border: 3px solid #f6ce32;
}

.extension ul li a:hover .extension_icon {
    background: #f6ce32;
}

.extension ul li a .extension_icon img {
    display: inline-block;
    vertical-align: middle;
}

.extension ul li a .extension_txt {
    float: right;
    width: 57%;
    padding: 0px 30px 0px 10px;
}

.extension ul li a .extension_txt .extension_sort {
    display: table;
    border-collapse: collapse;
    height: 154px;
    overflow: hidden;
    width: 100%;
}

.extension ul li a .extension_txt .extension_sort span {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.extension ul li a .extension_txt .extension_sort p {
    color: #000;
    font-size: 20px;
}

/*-----------------Report Area-----------*/

.report_area {
    position: relative;
    top: -10px;
}

.report_content {
    background: #FFF;
    padding-top: 0%;
}

.report_top_border {
    position: absolute;
    top: 0px;
}

.report_bottom_border {
    position: absolute;
    bottom: 0px;
}

.report_left {
    float: right;
    width: 45.5%;
    min-height: 1000px;
}

.report_left .middleim {
    display: none;
}

.report_left img {
    width: 100%;
}

.report_right {
    float: right;
    width: 54.5%;
    position: relative;
    z-index: 99;
    padding-top: 12.3%;
}

.report_inner {
    max-width: 580px;
    float: right;
    padding: 0px 75px 0px 30px;
}

.report_inner h2 {
    font-size: 62px;
    line-height: 70px;
    color: #e51c43;
    font-family: 'Assistan-ExtraBold';
    padding: 0px 0px 40px 0px;
}

.report_inner h3 {
    font-size: 44px;
    line-height: 48px;
    color: #000;
    font-family: 'Assistan-ExtraBold';
    padding: 0px 0px 45px 0px;
}

.report_inner p {
    font-size: 29px;
    line-height: 40px;
    font-family: 'Assistant-Light';
    padding-bottom: 20px;
}

.report_inner p.bottxt {
    font-size: 40px;
    line-height: 44px;
    font-weight: normal;
    font-family: 'Assistant-Regular';
    padding-top: 34px;
}

.report_inner .rmore {
    padding-top: 16px;
    float: left;
}

.report_inner .rmore a {
    display: inline-block;
    color: #231f20;
    border: 2px solid #231f20;
    font-size: 34px;
    line-height: 52px;
    padding: 0px 15px;
}

/*-------------------------Home Blog----------------*/

.blog_title {
    position: absolute;
    bottom: 12px;
    width: 100%;
    z-index: 999;
}

.blog_title h3 {
    font-size: 40px;
    line-height: 50px;
    color: #FFF;
    padding-right: 0px;
}

.blog_list {
    background: #e6e7e8;
    position: relative;
    top: -10px;
    padding-bottom: 25px;
}

.blog_list ul {
    margin: 0px 0px 0px 0px;
    padding: 0px;
}

.blog_list ul li {
    float: right;
    width: 50%;
    padding: 10px 0px 34px 50px;
    display: block;
}

.blog_list ul li .blog_thumb {
    float: right;
    width: 33.66%;
    padding-top: 9px;
}

.blog_list ul li .blog_left {
    float: right;
    width: 66.3%;
    padding: 0px 30px 0px 0px;
    color: #231f20;
}

.blog_list ul li .blog_left h4 {
    font-size: 28px;
    line-height: 110%;
    min-height: 100px;
    font-family: 'Assistant-Regular';
}

.blog_list ul li .blog_left .blog_more {
    color: #231f20;
    border: 2px solid #231f20;
    font-size: 29px;
    line-height: 100%;
    height: 48px;
    display: inline-block;
    padding: 5px 15px 10px 15px;
    font-family: 'alefbold';
}

.break_bo {
    text-align: center;
    margin-bottom: 40px;
}

.break_bo img {
    display: inline-block;
}

/*-----------------------Customer Recommend-------------------*/

.customer_re {
    top: -30px;
    position: relative;
}

.bg_title {
    background: url(images/title_bg.jpg) no-repeat;
    width: 100%;
    background-size: cover;
    text-align: center;
    padding: 26px 0px 34px 0px;
}

.bg_title h3 {
    font-size: 70px;
    line-height: 76px;
    color: #FFF;
    text-align: center;
    font-family: 'Assistant-Regular';
}

.recomment_list {
    padding: 42px 0px 0px 0px;
}

.recomment_list p {
    font-size: 44px;
    line-height: 110%;
    padding-bottom: 4px;
    text-align: center;
    font-weight: normal;
    font-family: 'Assistan-ExtraBold';
}

.recomment_list h3 {
    color: #e51c43;
    font-size: 62px;
    line-height: 80px;
    font-family: 'Assistan-ExtraBold';
    text-align: center;
    padding: 19px 30px 0px 30px;
}

.recomment_list ul {
    margin: 0px -25px;
    padding: 20px 0px 10px 0px;
}

.recomment_list ul li {
    /*float:right; width:33.33%;*/
    display: block;
    padding: 30px 25px;
}

.recomment_list ul li p {
    color: #231f20;
    font-size: 29px;
    line-height: 110%;
    text-align: center;
    padding: 20px 0px 0px 0px;
    font-family: 'Assistant-Light';
}

.recomment_list ul li .customer_img {
    position: relative;
    width: 274px;
    height: 274px;
    margin: 0px auto;
}

.recomment_list ul li .customer_img span {
    background: url(images/recommend.png) no-repeat;
    display: block;
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
}

.recomment_list ul li .customer_img img {
    width: 272px;
    height: 272px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}

/*------------Footer-------------------*/

.footer {
    /*background: #e51c43 url(images/fooer_bg.png)no-repeat top right;*/
    background: #e51c43;
    color: #231f20;
    padding-bottom: 15px;
    background-size: contain;
}

.social_icon {
    padding-top: 54px;
}

/*.social_icon h3{ font-size:33px; padding-bottom:6px;}*/

.social_icon p {
    font-size: 20px;
    line-height: 30px;
    color: #FFF;
    text-align: center;
    padding: 4px 0px 0px 0px;
}

.social_icon ul {
    margin: 0px;
    padding: 0px;
    width: 175px;
    text-align: center;
}

.social_icon ul li {
    display: inline-block;
    text-align: center;
}

.social_icon ul li a {
    display: block;
}

.footer_middle {
    /*padding: 370px 0px 0px 0px;*/
    padding: 60px 0px 0px 0px;
}

.footer_col.contact_f {
    float: left;
    width: 69.5%;
    padding: 0px 75px;
    /*padding-left:50px;*/
}

.footer_col.footer_l {
    padding: 0px 22px;
    width: 19%;
    margin: 0px auto;
    float: right;
}

.footer_l a {
    display: block;
}


.contact_detail {
    color: #FFF;
    padding: 35px 0px 0px 0px;
}

.contact_detail h3 {
    font-size: 27px;
    color: #FFF;
    font-family: 'Assistant-SemiBold';
    padding-bottom: 10px;
}

.contact_detail ul {
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.contact_detail ul li {
    display: inline-block;
    color: #FFF;
    font-size: 22px;
    line-height: 120%;
    padding: 0px 12px 0px 18px;
    font-family: 'Assistant-Light';
    position: relative;
    margin-bottom: 3px;
}

.contact_detail ul li:last-child {
    border: none;
}

.contact_detail ul li:after {
    position: absolute;
    content: '|';
    left: 0px;
    top: -2px;
    height: 23px;
}

.contact_detail ul li:last-child:after {
    display: none;
}

.contact_detail ul li a {
    color: #FFF;
    font-family: 'Assistant-Light';
}

.contact_detail ul li:last-child {
    padding-bottom: 0px;
}

.footer_col.contact_f {}

.footer_col.contact_f h3 {
    font-size: 49px;
    line-height: 58px;
    font-family: 'Assistant-SemiBold';
    color: #FFF;
    padding-bottom: 20px;
    text-align: center;
}

.footer_col.contact_f .footer_form {
    padding: 6px 0px 14px 0px;
}

.footer_col.contact_f .txtfield {
    padding: 0px 0px 5px 20px;
    float: right;
    width: 27.8%;
}

.footer_col.contact_f .txtfield input {
    width: 100%;
    color: #231f20;
    font-size: 18px;
    line-height: 20px;
    font-family: 'Assistant-Light';
    height: 35px;
}

.footer_col.contact_f .hecontbutton {
    margin: -7px 0px 0px 0px;
    float: right;
}

.footer_col.contact_f .hecontbutton input {
    margin: 0px;
    width: 49px;
    cursor: pointer;
    color: #e51c43;
    height: 49px;
    font-size: 15px;
    font-family: 'Assistant-Bold';
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    text-align: center;
    padding: 0px;
}

.footer_col.contact_f .hecontbutton .ajax-loader {
    display: none !important;
}

.copyright {
    color: #FFF;
    font-size: 20px;
    text-align: left;
    line-height: 100%;
    font-family: 'Assistant-Light';
    padding-top: 5px;
}


/*---------------------Inner Pages-----------------*/

.bg_title.innertitle {
    position: relative;
    top: -150px;
    height: 137px;
    padding: 40px 0px 10px 0px;
}

.bg_title.innertitle h1 {
    color: #FFF;
    font-size: 36px;
    line-height: 100%;
    text-align: right;
    width: 45%;
}

.inner_section {
    position: relative;
    top: -100px;
}

.inner_a_right {
    float: right;
    width: 67%;
}

.inner_a_right p {
    margin-bottom: 25px;
}

.inner_a_right a {
    color: #e51c43;
}

.inner_a_right .page_con h1 {
    font-size: 28px;
}

.inner_a_right .page_con h2 {
    font-size: 26px;
}

.inner_a_right .page_con h3 {
    font-size: 24px;
}

.inner_a_right ul {
    padding: 0px 30px 15px 0px;
}

.inner_a_left {
    float: left;
    width: 30%;
}

.sidebar_customer_re {
    top: 0px;
    position: relative;
}

.sidebar_bg_title {
    background: url(images/title_bg.jpg) right center no-repeat;
    width: 100%;
    background-size: cover;
    text-align: center;
    padding: 12px 0px;
}

.sidebar_bg_title h3 {
    font-size: 26px;
    color: #FFF;
    text-align: center;
    font-family: 'alefregular';
}

.sidebar_recomment_list {
    padding: 20px 0px 0px 0px;
}

.sidebar_recomment_list p {
    font-size: 24px;
    line-height: 110%;
    text-align: center;
    font-weight: normal;
}

.sidebar_recomment_list ul {
    margin: 0px;
    padding: 20px 0px 10px 0px;
}

.sidebar_recomment_list ul li {
    float: right;
    width: 100%;
    display: block;
    padding: 15px;
    border-bottom: 1px solid #f3713d;
}

.sidebar_recomment_list ul li:last-child {
    border-bottom: 0px;
}

.sidebar_recomment_list ul li p {
    color: #231f20;
    font-size: 22px;
    line-height: 110%;
    text-align: center;
    padding-top: 10px;
}

.sidebar_recomment_list ul li .sidebar_customer_img {
    position: relative;
    width: 150px;
    height: 150px;
    margin: 0px auto;
}

.sidebar_recomment_list ul li .sidebar_customer_img span {
    background: url(images/recommend.png) no-repeat;
    display: block;
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    background-size: cover;
}

.sidebar_recomment_list ul li .sidebar_customer_img img {
    width: 148px;
    height: 148px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}


/** Added by spinz ***************/

.test_inner {
    min-height: 100px;
    display: inline-block;
    width: 100%;
    padding: 0 0 20px 0;
}

.right {
    background: url("justgage/images/sl_bg.png") no-repeat;
    padding: 24px 20px;
    min-height: 90px;
    color: #fff;
    margin: 0 0px 0 10px;
    font-size: 20px;
    font-weight: bold;
    float: right;
}

.question .options li input {
    margin: 0 0 0 5px;
    position: relative;
    top: 2px;
    height: inherit;
    display: inline-block;
    width: auto;
}

.question .options li {
    margin: 0 0 5px 10px;
    background: #e1e1e1;
    padding: 5px 10px;
    border-radius: 10px;
    color: #000;
    display: inline-block;
    font-size: 16px;
}

.question .options li:hover {
    background: #65a432;
    color: #fff;
    cursor: pointer;
}

.question p {
    font-size: 16px;
    margin: 30px 0px 15px 0px;
}

.bg_green {
    background: #65a432 !important;
    color: #fff !important;
}

.measurement_s {
    width: 66%;
}

#myValues {
    position: absolute;
    right: 20px;
}

#speedometerWraper-myValues .envelope {
    color: #fff;
}

#speedometerWraper-myValues .numb {
    display: none;
}

#speedometerWraper-myValues .midNob,
#speedometerWraper-myValues .nob {
    display: none;
}

.envelope {
    background: url("justgage/images/guage_n.png") -4px 27px no-repeat;
}

#speedometerWraper-myValues .speedPosition {
    background: url("justgage/images/base.png") no-repeat;
    z-index: 9999;
    width: 51px !important;
    height: 52px !important;
    left: 125px !important;
    top: 126px !important;
    font-size: 0px;
}

#speedometerWraper-myValues .speedNobe div {
    background: #42b86b;
    left: 108px !important;
    width: 60px !important;
}

.c_form.col-full {
    width: 100%;
    display: inline-block;
}

.c_form.col-full .wpcf7 {
    margin: 0px auto;
    width: 50%;
}

.c_form.col-full .wpcf7 .left {
    float: left;
    padding: 0 1% 0 0;
    width: 48%;
}

.tarea {
    padding: 0 3% 0 0;
}

/*.c_form.col-full .wpcf7-form-control.wpcf7-submit{
  background: #72c882;
  background-image: -webkit-linear-gradient(top, #72c882, #2fa122);
  background-image: -moz-linear-gradient(top, #72c882, #2fa122);
  background-image: -ms-linear-gradient(top, #72c882, #2fa122);
  background-image: -o-linear-gradient(top, #72c882, #2fa122);
  background-image: linear-gradient(to bottom, #72c882, #2fa122);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;

 }
.c_form.col-full .wpcf7-form-control.wpcf7-submit:hover {
  background: #2fa122;
  background-image: -webkit-linear-gradient(top, #2fa122, #72c882);
  background-image: -moz-linear-gradient(top, #2fa122, #72c882);
  background-image: -ms-linear-gradient(top, #2fa122, #72c882);
  background-image: -o-linear-gradient(top, #2fa122, #72c882);
  background-image: linear-gradient(to bottom, #2fa122, #72c882);
  text-decoration: none;
}*/

#myValues {
    background: #41bd41;
    padding: 10px 20px;
    border-radius: 15px;
    color: #fff;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

#speedometerWraper-myValues .speedNobe {
    height: 8px !important;
}

#speedometerWraper-myValues .envelope {
    height: 190px !important;
}



ul.options li label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-right: 25px;
    margin-right: 0px;
    font-size: 14px;
}

ul.options li input[type=radio] {
    display: none;
}

ul.options li label:before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-left: 24px;
    position: absolute;
    right: 0;
    bottom: 1px;
    background-color: #aaa;
    -webkit-box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
    box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
}

ul.options li label:before {
    border-radius: 8px;
}

ul.options li input[type=radio]:checked + label:before {
    content: "\2022";
    color: #000;
    font-size: 40px;
    text-align: center;
    line-height: 15px;
}

ul.options li input[type=checkbox]:checked + label:before {
    content: "\2713";
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    font-size: 15px;
    color: #f3f3f3;
    text-align: center;
    line-height: 15px;
}

#content {
    display: inline-table;
}

.qa_form {
    width: 100%;
    margin: 0px auto;
    text-align: center;
}

.qa_form h3 {
    color: #e51c43;
    margin: 30px 0px;
    text-align: center;
}

.qa_form img {
    display: inline-block;
}

.qa_form input,
.qa_form select {
    background: #f2f2f2;
    margin-bottom: 14px;
    height: 36px;
}

.qa_form textarea {
    background: #f2f2f2;
    margin-bottom: 14px;
}

.qa_form .hecontbutton input {
    margin: 0px;
    width: auto;
    cursor: pointer;
    background: #2fa122;
    color: #FFF;
    height: 38px;
}

.qa_form .hecontbutton input:hover {
    background: #58595b;
}

.qa_form div.wpcf7-response-output {
    color: #58595b !important;
}

/*--------------Contact Page-----------------*/

.contactformright {
    float: right;
    width: 55%;
    padding-left: 20px;
    border-left: 1px solid #f2f2f2;
}

.contactformright h3 {
    padding-bottom: 15px;
    line-height: 100%;
}

.contactformright ul {
    padding: 0px;
    margin: 0px;
}

.contactformright ul li {
    list-style: none;
    padding-bottom: 8px;
}

.contactformright ul li span {
    color: #e51c43;
}

.contactformleft {
    float: left;
    width: 40%;
}

.contactformleft input,
.qa_form select {
    background: #f2f2f2;
    margin-bottom: 14px;
    height: 36px;
}

.contactformleft textarea {
    background: #f2f2f2;
    margin-bottom: 14px;
}

.contactformleft .hecontbutton input {
    margin: 0px;
    width: auto;
    cursor: pointer;
    background: #2fa122;
    color: #FFF;
    height: 38px;
}

.contactformleft .hecontbutton input:hover {
    background: #58595b;
}

.contactformleft div.wpcf7-response-output {
    color: #58595b !important;
}

/*---------------Common-----------------*/

.inner_section.blog_m {
    top: -50px;
}

.nofound h3 {
    text-align: center;
    font-size: 30px;
}

.blog_m .blog_list {
    background: #FFF;
}

.blog_m .blog_list ul li {
    margin-bottom: 15px;
    position: relative;
}

.blog_m .blog_list ul li:after {
    background: url(images/blog_border.jpg) no-repeat;
    height: 4px;
    width: 100%;
    position: absolute;
    bottom: 0px;
}

.navigation {
    text-align: center;
    margin: 20px 0px 0px 0px;
}

.wp-pagenavi a,
.wp-pagenavi span {
    padding: 3px 10px !important;
    display: inline-block;
    color: #231f20 !important;
    border: 1px solid #231f20 !important;
}

.wp-pagenavi a:hover,
.wp-pagenavi span.current {
    border-color: #e51c43 !important;
    color: #e51c43 !important;
    font-weight: normal !important;
}

.mobile_re {
    display: none;
}

/*---------Responsive---------------*/

@media only screen and (max-width:1800px) {
    .middle_inner p {
        line-height: 120%;
    }
    .blog_title {
        bottom: 0px;
    }
}

@media only screen and (max-width:1700px) {
    .header_bg {
        width: 20%;
    }
}

@media only screen and (max-width:1600px) {
    .middle_inner p {
        font-size: 26px;
    }
    .blog_title h3 {
        font-size: 36px;
        line-height: 46px;
    }
    .blog_list ul li .blog_left h4 {
        font-size: 24px;
    }
}

@media only screen and (max-width:1500px) {
    .header_form .formheading p {
        line-height: 110%;
    }

    /*.our_expertise h2, .middle_inner h3{ font-size:32px;}*/
    .our_expertise ul li h3 {
        font-size: 30px;
    }
    .our_expertise ul li:first-child h3,
    .our_expertise ul li:last-child h3 {
        font-size: 24px;
    }
    .middle_inner p {
        font-size: 24px;
    }

    .middle_inner .rmore a {
        font-size: 26px;
        line-height: 42px;
    }
    .blog_list ul li .blog_left .blog_more {
        font-size: 26px;
        height: 48px;
    }

    .recomment_list p {
        font-size: 32px;
    }
    .recomment_list ul li p {
        font-size: 26px;
    }

    .social_icon h3 {
        font-size: 32px;
    }
    .social_icon ul li a {
        width: 70%;
        margin: 0px auto;
    }

    .bg_title.innertitle h1 {
        font-size: 32px;
    }
}

@media only screen and (max-width:1400px) {
    .our_expertise h2 {
        font-size: 50px;
        line-height: 60px;
    }
    .our_expertise h3 {
        font-size: 42px;
    }

    .middle_inner h2 {
        font-size: 48px;
        line-height: 56px;
    }
    .middle_inner h3 {
        font-size: 42px;
        line-height: 46px;
    }
    .middle_inner p strong {
        font-size: 36px;
        line-height: 40px;
    }
    .middle_left {
        min-height: 950px;
    }

    .report_left {
        min-height: 800px;
    }
    .report_inner h2 {
        font-size: 48px;
        line-height: 56px;
    }
    .report_inner p {
        font-size: 24px;
        line-height: 130%;
    }
    .report_inner p.bottxt {
        font-size: 36px;
        line-height: 40px;
    }

    .recomment_list h3 {
        font-size: 50px;
        line-height: 60px;
    }
    .recomment_list p {
        font-size: 42px;
    }

    .footer_middle {
        padding: 300px 0px 0px 0px;
    }
    .footer_col.contact_f h3 {
        font-size: 46px;
        line-height: 130%;
    }
}

@media only screen and (max-width:1300px) {
    .blog_title h3 {
        font-size: 32px;
        line-height: 42px;
    }
}

@media only screen and (max-width:1280px) {
    .middle_inner p {
        font-size: 22px;
    }
    .middle_inner .rmore a {
        font-size: 26px;
        line-height: 42px;
    }
    .extension ul {
        margin: 0px;
    }
}

@media only screen and (max-width:1200px) {
    .middle_inner {
        padding-right: 20px;
    }
    .blog_title {
        padding: 0px 20px;
    }
    .blog_title h3 {
        font-size: 32px;
        line-height: 38px;
    }

    .middle_inner p {
        font-size: 20px;
    }

    .extension ul li a .extension_txt .extension_sort {
        height: 132px;
    }
    .extension ul li a .extension_icon {
        width: 132px;
        height: 132px;
        line-height: 132px;
    }
    .extension ul li a .extension_txt {
        width: 60%;
    }

    .footer_col.contact_f .txtfield input {
        font-size: 22px;
    }
    .bg_title.innertitle {
        padding: 40px 15px 10px 15px;
    }

    #qanda .inner_a_left {
        width: 100%;
        float: none;
        margin: 0px !important;
        border-bottom: 1px solid #f2f2f2;
    }
    #qanda .inner_a_right {
        width: 100%;
        padding-top: 25px;
    }
    #g1 {
        margin: 0px auto;
        padding-bottom: 20px;
    }

    .footer .wrap {
        padding: 0px 15px;
    }

    .footer_col.footer_l {
        width: 220px;
    }
}

@media only screen and (max-width:1180px) {
    .slider_cps .slider_title {
        font-size: 69px;
        padding-bottom: 20px;
    }
    .header_form .formheading p.slitop2 {
        line-height: 100%;
    }
}

@media only screen and (max-width:1169px) {

    .header_form .formheading p {
        font-size: 20px;
        line-height: 110%;
    }
    input,
    select {
        font-size: 24px;
    }

    .hmenu ul li {
        padding: 0px 3px;
    }
    .header_right {
        height: 488px;
        position: relative;
    }
    .header_slider {
        right: 0px;
        bottom: 13px;
    }
    .topslid {
        position: absolute;
        bottom: 0px;
        width: 100%;
        left: 0px;
        right: 0px;
    }
    .our_expertise .wrap,
    .blog_list .wrap,
    .customer_re .wrap,
    .footer .wrap,
    .inner_section .wrap {
        padding: 0px 15px;
    }
    .blog_list {
        padding-top: 15px;
        padding-bottom: 0px;
    }
    .blog_list ul li {
        padding: 10px 0px 34px 30px;
    }

    .slider_cps {
        width: 46%;
        left: 50px;
    }
    .slider_cps .slider_title {
        font-size: 59px;
    }
    .slider_cps .slider_sub_text {
        font-size: 22px;
    }

    .footer_middle {
        padding: 270px 0px 0px 0px;
    }
    .footer_col.contact_f h3 {
        font-size: 46px;
        line-height: 120%;
    }
    .footer_col.contact_f {
        padding: 0px 30px;
    }
}

@media only screen and (max-width:1100px) {
    .header {
        padding-bottom: 10px;
    }
    .header_right {
        width: 54%;
        position: relative;
    }
    .header_slider {
        margin-top: 14px;
    }

    .slider_cps {
        left: 50px;
        top: 6%;
    }

    .hmenu {
        padding-top: 0px;
    }
    .tglmenu {
        display: block;
        cursor: pointer;
        float: right;
        top: 40px;
    }
    .mobtgl {
        position: absolute;
        right: 0px;
        left: 0px;
        top: 90px;
        background: rgba(255, 255, 255, 0.9);
        -webkit-box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.2);
        overflow: auto;
        padding: 10px 15px;
        display: none;
        z-index: 999;
        height: 100vh;
    }
    .hmenu ul li {
        display: block;
        text-align: right;
        float: none;
    }
    .hmenu ul li:before {
        display: none;
    }
    .hmenu ul li a {
        padding: 7px 0px;
        font-size: 18px;
    }
    .hmenu ul > li.current_page_item > a:after,
    .hmenu ul > li.current-menu-ancestor > a:after,
    .hmenu ul > li:hover > a:after {
        display: none;
    }
    .hmenu ul li {
        border-bottom: 1px solid #ccc;
        padding: 0px;
    }
    .hmenu ul li:last-child {
        border-bottom: none;
    }

    .hmenu ul li ul.sub-menu {
        display: block !important;
        position: relative;
        opacity: 1;
        visibility: visible;
        background: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        right: 0px;
        width: 100%;
        padding: 0px 15px 0px 0px;
    }
    .hmenu ul li ul.sub-menu li {
        border: none;
    }
    .hmenu ul li ul.sub-menu li a {
        position: relative;
    }
    .hmenu ul li ul.sub-menu li a:before {
        position: absolute;
        content: '-';
        right: -5px;
    }

    .header_form div.wpcf7-response-output {
        width: auto;
    }

    .our_expertise h2 {
        font-size: 45px;
        line-height: 55px;
    }
    .our_expertise h3 {
        font-size: 38px;
    }

    .recomment_list h3 {
        font-size: 45px;
        line-height: 55px;
    }
    .recomment_list p {
        font-size: 38px;
    }

    .middle_inner h2 {
        font-size: 44px;
        line-height: 52px;
        padding-bottom: 30px;
    }
    .middle_inner h3 {
        font-size: 40px;
        line-height: 44px;
        padding-bottom: 30px;
    }
    .middle_inner p strong {
        font-size: 32px;
        line-height: 36px;
    }
    .middle_left {
        min-height: 920px;
    }
    .blog_title h3 {
        font-size: 30px;
        line-height: 36px;
    }

    .report_inner h2 {
        font-size: 44px;
        line-height: 52px;
        padding-bottom: 30px;
    }
    .report_inner p.bottxt {
        font-size: 32px;
        line-height: 36px;
    }
    .report_left {
        min-height: 700px;
    }

    .extension ul li a .extension_txt {
        width: 58%;
    }
    .extension ul li a .extension_txt .extension_sort p {
        font-size: 18px;
    }
}

@media only screen and (max-width:1060px) {
    .extension ul li a .extension_txt .extension_sort {
        height: 120px;
    }
    .extension ul li a .extension_txt {
        width: 100%;
        padding-left: 130px;
    }
    .extension ul li a {
        position: relative;
    }
    .extension ul li a .extension_icon {
        width: 120px;
        height: 120px;
        line-height: 120px;
        position: absolute;
        left: 0px;
    }
    .extension ul li a .extension_icon img {
        width: 50px;
    }
}

@media only screen and (max-width:1030px) {
    .header_slider {
        padding-top: 40px;
    }
    .header_form .formheading p.slitop1,
    .header_form .formheading p.slitop3 {
        font-size: 42px;
        line-height: 45px;
    }
    .header_form .formheading p.slitop2 {
        font-size: 48px;
    }

}

@media only screen and (max-width:1023px) {
    .middle_area {
        top: 0px;
    }
    .mdiddle_content {
        padding-top: 0px;
    }
    .middle_left {
        min-height: inherit;
        background: none !important;
    }
    .middle_left .middleim,
    .report_left .middleim {
        display: block;
    }
    .middle_right,
    .middle_left {
        float: none;
        width: 100%;
    }
    .middle_inner {
        max-width: 100%;
        float: none;
        padding: 20px 15px;
    }
    .middle_bottom_border {
        position: static;
        background: url(images/title_bg.jpg) no-repeat;
        width: 100%;
        background-size: cover;
        text-align: center;
        padding: 20px 0px 28px 0px;
    }
    .middle_bottom_border img {
        display: none;
    }
    .blog_title {
        position: static;
        bottom: 0px;
    }
    .blog_title h3 {
        padding-right: 0px;
        text-align: right;
        font-size: 32px;
    }
    .home .blog_list {
        top: -10px;
    }
    .blog_list ul li .blog_left h4 {
        font-size: 22px;
    }
    .bg_title {
        padding: 20px 0px 28px 0px;
    }
    .bg_title h3 {
        padding-right: 0px;
        text-align: center;
        font-size: 32px;
    }
    .blog_list ul li .blog_left .blog_more {
        height: 42px;
    }

    .report_content {
        padding-top: 0px;
    }
    .report_left {
        min-height: inherit;
        background: none !important;
    }
    .report_left .middleim,
    .report_left .middleim {
        display: block;
    }
    .report_right,
    .report_left {
        float: none;
        width: 100%;
        padding: 0px;
    }
    .report_inner {
        max-width: 100%;
        float: none;
        padding: 20px 15px;
    }
    .report_area .middle_bottom_border {
        padding: 5px 0px;
    }

    .customer_re {
        top: -10px;
    }

    .bg_title h3 {}

    .recomment_list p {
        font-size: 26px;
    }
    .recomment_list ul li p {
        font-size: 24px;
    }
    .recomment_list ul li .customer_img {
        width: 250px;
        height: 250px;
    }
    .recomment_list ul li .customer_img img {
        width: 248px;
        height: 248px;
    }
    .recomment_list ul li .customer_img span {
        background-size: cover;
    }

    .social_icon h3 {
        font-size: 30px;
    }
    .contact_detail h3 {
        font-size: 26px;
    }
    .footer_col.contact_f h3 {
        font-size: 30px;
    }
    .contact_detail ul li {
        font-size: 18px;
    }
    .copyright {
        font-size: 18px;
    }

    .bg_title.innertitle {
        position: static;
        top: 0px;
        background-position: center center;
        padding: 20px 15px 28px 15px;
        height: inherit;
    }
    .inner_section {
        top: 0px;
        padding-top: 35px;
    }
    .bg_title.innertitle h1 {
        width: 100%;
    }

}

@media only screen and (max-width:998px) {
    .extension {
        padding: 35px 0px;
    }
    .extension ul li {
        width: 50%;
    }
    .extension ul li {
        padding: 15px 13px;
    }

    .footer_middle {
        padding: 220px 0px 0px 0px;
    }
    .footer_col.contact_f {
        padding: 0px 25px;
    }
    .contact_detail {
        background: #e51c43;
        padding: 25px 0px 0px 0px;
    }

}

@media only screen and (max-width:980px) {
    .header {
        height: inherit;
    }
    .header_bg {
        display: none;
    }
    .header_left {
        float: none;
        height: inherit;
        width: 100%;
        padding: 0px 0px 30px 0px;
        background-size: cover;
        background-position: left bottom;
        z-index: inherit;
    }
    .header_left:before {
        display: none;
    }
    .header_right {
        float: none;
        width: 100%;
        height: inherit;
    }
    .header_slider {
        padding-top: 0px;
        margin: 0px;
        bottom: 0px;
    }
    .slider_cps {
        top: 15%;
        left: 0px;
    }
    .topslid {
        position: static;
    }

    .header_form {
        margin: 0px auto;
        width: 100%;
        padding: 20px;
    }
    .header_form .formheading,
    .header_form .formheading p.slitop2,
    .header_form .formheading p.slitop3,
    .header_form .formheading .contacttitle p,
    .contactheadform {
        margin: 0px;
    }
    .header_form .hecontbutton {
        width: 41px;
    }
    .header_form .txtfield {
        width: 30%;
    }
    .header_form .formheading p {
        text-align: center;
    }
    .logo {
        max-width: 220px;
        margin: 0px auto;
        float: none;
        position: relative;
        z-index: 99;
    }
    .hmenu {
        position: absolute;
        max-width: 100%;
        top: 0px;
        width: 100%;
        z-index: 9;
    }

    .our_expertise ul li h3 {
        font-size: 26px;
        line-height: 100%;
    }
    .our_expertise ul li:first-child h3,
    .our_expertise ul li:last-child h3 {
        font-size: 22px;
    }
}

@media only screen and (max-width:850px) {
    .mobile_re {
        display: block;
    }
    .desktop_re {
        display: none;
    }
    .recomment_list ul {
        margin: 0px;
    }
    .recomment_list ul li {
        width: 100%;
        padding: 20px 0px;
    }
    .recomment_list .owl-dots {
        bottom: 0px;
    }
    .recomment_list .owl-dot.active {
        background-color: #e51c43;
    }

    .footer {
        background: none;
        padding: 0px;
    }
    .footer .wrap {
        padding: 0px;
    }
    .footer_col {
        padding-left: 30px;
    }
    .footer_middle {
        background: #e51c43;
        padding: 15px;
    }
    .copyright {
        background: #e51c43;
        text-align: center;
        padding: 10px 0px;
    }
    .social_icon {
        margin: 0px auto;
        padding-bottom: 15px;
    }

    .inner_a_right {
        width: 100%;
    }
    .inner_a_left {
        width: 100%;
    }
    .inner_a_left .owl-dots {
        bottom: 0px;
    }
    .inner_a_left .owl-dot.active {
        background-color: #e51c43;
    }

    .contactformright {
        margin-bottom: 30px;
    }

    .our_expertise h2 {
        font-size: 40px;
        line-height: 50px;
        padding-bottom: 20px;
    }
    .our_expertise h3 {
        font-size: 36px;
    }

    .recomment_list h3 {
        font-size: 40px;
        line-height: 50px;
    }
    .recomment_list p {
        font-size: 36px;
    }
}

@media only screen and (max-width:800px) {
    .blog_list ul li {
        width: 100%;
        position: relative;
        margin-bottom: 10px;
        padding: 10px 0px 34px 0px;
    }
    .blog_list ul li:after {
        background: url(images/blog_border.jpg) no-repeat;
        height: 4px;
        width: 100%;
        position: absolute;
        bottom: 0px;
    }
    .blog_list .wrap ul:last-child li:last-child:after {
        display: none;
    }
    .break_bo {
        display: none;
    }
    .blog_list ul li .blog_thumb img {
        width: 100%;
    }

    .footer_col {
        width: 50%;
    }
    .footer_col.footer_l {
        padding: 15px 0px;
        width: 220px;
        float: none;
        text-align: center;
    }
    .footer_col.contact_f {
        width: 100%;
        float: none;
        padding: 0px;
    }
    .contact_detail {
        padding: 0px;
    }
    .social_icon {
        padding: 15px;
    }
    .footer_l img {
        display: inline-block;
    }

    .our_expertise ul li a:hover img {
        transform: scale(1.5);
        -webkit-transform: scale(1.5);
        -moz-transform: scale(1.5);
    }

}


@media only screen and (max-width:640px) {
    .header_form {
        width: 100%;
    }
    .our_expertise h2 {
        line-height: 100%;
        margin-top: 0px;
    }
    .blog_list ul li .blog_left .blog_more {
        font-size: 24px;
    }
}

@media only screen and (max-width:639px) {
    .our_expertise h2 {
        font-size: 34px;
        line-height: 40px;
    }
    .our_expertise h3 {
        font-size: 30px;
    }
    .our_expertise ul li {
        float: none;
        width: 100%;
        padding: 15px 0px;
        margin: 0px auto;
    }
    .our_expertise ul li:first-child,
    .our_expertise ul li:last-child {
        padding: 15px 0px;
    }
    .our_expertise ul li a:hover {
        padding-top: 30px;
    }
    .our_expertise ul li img {
        width: 150px;
    }
    .our_expertise ul li h3 span {
        line-height: 100%;
        display: block;
    }
    .our_expertise ul li h3 {
        font-size: 22px;
    }

    .recomment_list h3 {
        font-size: 34px;
        line-height: 40px;
    }
    .recomment_list p {
        font-size: 30px;
    }

    .footer_col {
        width: 100%;
    }
    .footer_col.contact_f {
        padding-top: 30px;
    }

    .contactformright {
        width: 100%;
        padding-left: 0px;
        padding-bottom: 20px;
        border-left: none;
        border-bottom: 1px solid #f2f2f2;
    }
    .contactformleft {
        width: 100%;
        margin-bottom: 30px;
    }

    .c_form.col-full .wpcf7 {
        width: 100%;
    }

    .slider_cps .slider_title {
        font-size: 49px;
    }

    .extension ul li a .extension_txt .extension_sort p {
        font-size: 16px;
    }
}

@media only screen and (max-width:550px) {
    .header_form .formheading p.slitop1,
    .header_form .formheading p.slitop3 {
        font-size: 32px;
        line-height: 40px;
        padding-bottom: 3px;
    }
    .header_form .formheading p.slitop2 {
        font-size: 38px;
    }
    .header_form .formheading .contacttitle p {
        font-size: 30px;
        line-height: 34px;
    }
    .header_form .txtfield {
        width: 100%;
        margin-bottom: 10px;
        padding: 0px;
    }
    .header_form .hecontbutton {
        float: left;
        margin: 5px 0px 0px 0px;
    }

    .footer_col.contact_f .txtfield {
        width: 100%;
        margin-bottom: 10px;
        padding: 0px;
    }
    .footer_col.contact_f .hecontbutton {
        float: left;
        margin: 5px 0px 0px 0px;
    }

    .middle_inner h2 {
        font-size: 36px;
        line-height: 40px;
    }
    .middle_inner h3 {
        font-size: 32px;
        line-height: 36px;
    }
    .middle_inner p strong {
        font-size: 26px;
        line-height: 30px;
    }
    .blog_title h3 {
        font-size: 28px;
        line-height: 120%;
    }

    .report_inner h2 {
        font-size: 36px;
        line-height: 40px;
    }
    .report_inner p.bottxt {
        font-size: 26px;
        line-height: 30px;
    }

    .extension ul li {
        width: 100%;
    }
    .extension ul li a .extension_icon {
        height: 90px;
        width: 90px;
        line-height: 90px;
    }
    .extension ul li a .extension_txt .extension_sort {
        height: 90px;
    }
    .extension ul li a .extension_txt {
        padding-left: 100px;
    }
}


@media only screen and (max-width:400px) {
    .slider_cps .slider_sub_text {
        font-size: 18px;
    }
    .blog_list ul li .blog_thumb {
        width: 100%;
    }
    .blog_list ul li .blog_left {
        width: 100%;
        padding-top: 15px;
    }
    .blog_list ul li .blog_left h4 {
        min-height: inherit;
        padding-bottom: 15px;
    }

    #g1 {
        position: relative;
        left: 100px;
    }
    .header_form .formheading p.slitop1,
    .header_form .formheading p.slitop3 {
        font-size: 30px;
        line-height: 38px;
    }
    .header_form .formheading p.slitop2 {
        font-size: 36px;
    }
    .header_form .formheading .contacttitle p {
        font-size: 24px;
        line-height: 28px;
    }
}
