/*!
Theme Name: Innozilla
Theme URI: http://innozilla.com
Author: Bonnie Simon Suarez
Author URI: http://innozilla.com
Description: A Fully Custom Wordpress Website
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: innozilla
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Innozilla is based on Underscores http://underscores.me/, (C) 2012-2016 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.io/normalize.css/
*/


@import url("css/default.css");

/* GLOBAL STYLE */


body {
    font-family: 'Open Sans', sans-serif !important;
}

.home a:focus {
    outline: 0;
    color: #fff !important;
}

a:active {
    text-decoration: none;
}

.home a:visited,
.sub-hero-wrap a:visited {
    color:#fff;
    text-decoration: none;
}

.blue {
    color: #4697ca;
}

.tr {
    text-align: right;  
}

.row-centered .col-centered {
    display: inline-block;
    float: none;
    text-align: left;
    vertical-align: top;
    margin-left: -4px;
    overflow: hidden;
}

.row-centered {
    text-align:center;
}

.seperator {
    height: 1px;
    width: 100px;
    background: black;
    text-align: center;
    margin: 0px auto 40px auto;
    display: block;
}

.waypoint-here {
    opacity: 1;
    filter: alpha(opacity=100);
}
.slider {
    width: 100%;
    margin: 0 auto;
}

.light {
    font-weight: 300;
}


/* END OF GLOBAL STYLE */

/*sticky menu*/

.home .site-branding img {
    max-width: 100%;
}

.site-branding img {
    max-width: 200px;
}

#masthead.main-nav-scrolled {
    background: #fff;
    animation-duration: 1.2s;
    animation-name: slideDown;
    position: fixed;
    width:  100%;
    z-index: 3;
    box-shadow: 4px 0px 24px rgba(0, 0, 0, 0.19);
    padding: 15px 0px;
    background: #1c2126;
}

#masthead.main-nav-scrolled .site-branding img {
    width: 155px;
}

#masthead.main-nav-scrolled .main-navigation ul li {
    font-size: 12px;
}

.exit {
    animation-duration:1s;
    animation-name: slideUpz;
}

@keyframes slideDown {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0%);
    }       
}

@keyframes slideUpz {
    0% {
        transform: translateY(-50%);
    }
    100% {
        transform: translateY(0%);
    }       
}

/* end of navigation */

    /* burger animation */
    .navbar-toggle .icon-bar:nth-of-type(2) {
        top: 1px;
    }

    .navbar-toggle .icon-bar:nth-of-type(3) {
        top: 2px;
    }

    .navbar-toggle .icon-bar {
        position: relative;
        transition: all 100ms ease-in-out;
    }

    .navbar-toggle.active .icon-bar:nth-of-type(1) {
        top: 6px;
        transform: rotate(45deg);
    }

    .navbar-toggle.active .icon-bar:nth-of-type(2) {
        background-color: transparent;
    }

    .navbar-toggle.active .icon-bar:nth-of-type(3) {
        top: -6px;
        transform: rotate(-45deg);
    }
    button.navbar-toggle {
        margin: 7px 0px !important;
        border: 2px solid transparent;
        border-radius: 1px;
        border-color: #4697ca;
    }
    .navbar-toggle .icon-bar {
        background: #fff;
    }
    /* end of animation */

    /* typed cursor link animation */
    .typed-cursor {
      opacity: 1;
      font-weight: 100;
      -webkit-animation: blink 0.7s infinite;
      -moz-animation: blink 0.7s infinite;
      -ms-animation: blink 0.7s infinite;
      -o-animation: blink 0.7s infinite;
      animation: blink 0.7s infinite;
    }

    @-keyframes blink {
      0% { opacity:1; }
      50% { opacity:0; }
      100% { opacity:1; }
    }
            
    @-webkit-keyframes blink{
      0% { opacity:1; }          
      50% { opacity:0; }
      100% { opacity:1; }
    }
            
    @-moz-keyframes blink{
      0% { opacity:1; }
      50% { opacity:0; }
      100% { opacity:1; }
    }

    @-ms-keyframes blink{
      0% { opacity:1; }
      50% { opacity:0; }
      100% { opacity:1; }
    }

    @-o-keyframes blink{
      0% { opacity:1; }
      50% { opacity:0; }
      100% { opacity:1; }
    }
    /* end of typed cursor link animation */


/* MENU */


header .menu-item.menu-item-has-children a:after {
    content: "\f107";
    font-family: 'FontAwesome';
    font-size: 1.2rem;
    padding-left: 0.5rem;
    speak: none;
}


header .menu-item.menu-item-has-children .sub-menu a:after {
    content: '';
}

header .menu-item.menu-item-has-children .sub-menu .sub-menu a:after {
    content: '';
}

#primary-menu > .menu-item-has-children .sub-menu { 
  visibility: hidden; /* hides sub-menu */
  opacity: 0;
  position: absolute;
  top: 100%;
  width: 100%;
  transform: translateY(-2em);
  z-index: -1;
  transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
}

#primary-menu > .menu-item-has-children:hover .sub-menu {
  visibility: visible;
  opacity: 1;
  z-index: 1;
  transform: translateY(0%);
  transition-delay: 0s, 0s, 0.3s;
}

#primary-menu .sub-menu .menu-item-has-children .sub-menu { 
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  left: initial;
  width: 100%;
  transform: translateX(100%);
  z-index: -1;
  transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
}

#primary-menu .sub-menu .menu-item-has-children:hover .sub-menu {
  visibility: visible;
  opacity: 1;
  z-index: -1;
  transform: translateX(100%);
  transition-delay: 0s, 0s, 0.3s;
}

#primary-menu .sub-menu {
    padding: 20px 0 0 0;
    text-align: left;
}

#primary-menu .sub-menu .sub-menu  {
    padding:0;
    text-align: left;
}

#primary-menu .sub-menu li {
    background: #1c2126;
    padding: 15px 20px 1px;
    font-size: 12px;
}

#primary-menu .sub-menu .sub-menu li {
    background: #20262b;
    padding: 15px 20px 1px;
    font-size: 12px;
}

#primary-menu .sub-menu li a {
    color: #fff;
}

#primary-menu .sub-menu li:hover a {
    color: #4697ca !important;
}


#primary-menu .sub-menu li:last-child {
    padding: 15px 20px 15px;
}



/* 404 */

.fof-wrap {
    padding: 320px 0px 270px;
    background: #191919;
    color: #fff;
    text-align: center;
}

.fof-wrap h2 {
    font-size: 150px;
    font-weight: 300;
}

.fof-wrap h3 {
    font-size: 27px;
    font-weight: 300;
    letter-spacing: 5px;
}

.fof-wrap img {
    max-width: 200px;
    padding-top: 40px;
    filter: grayscale(100%);
}

/* HEADER STYLE */

.main-navigation ul li {
    -webkit-backface-visibility: hidden !important;
    -webkit-transform: translateZ(0) scale(1.0, 1.0) !important ;
    transform: translateZ(0) !important ;
    font-smoothing: antialiased !important;
}

.main-navigation ul li ul.sub-menu {
    margin-left: -20px;
}


#primary-menu li ul.sub-menu .current-menu-item a {
    color: #4697ca;
}

div.anchor#home {
    display: block;
    position: absolute;
    top: -100px;
    visibility: hidden;
}

div.anchor#about-us,
div.anchor#services,
div.anchor#pricing {
    display: block;
    position: relative;
    top: -140px;
    visibility: hidden;
}
div.anchor#testimonials {
    display: block;
    position: relative;
    top: -380px;
    visibility: hidden;
}
div.anchor#contact-us  {
    display: block;
    position: relative;
    top: -890px;
    visibility: hidden;
}

#masthead {
    z-index: 1;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 0px;
}

#masthead .row {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
}

.main-navigation ul {
    text-align: right;
}

.main-navigation ul li {
    font-weight: 500;
    text-transform: uppercase;
    padding-left: 40px;
    letter-spacing: 1px;    
}

.main-navigation ul li.active > a {
    color: #76caff !important;
}

.main-navigation ul li a {
    color:#fff; 
    text-decoration:  none; 
}

/* END OF HEADER STYLE */

/* HERO STYLE */

.herosmall {
    font-size: 25px;
    font-weight: 300;
    text-transform: initial;
    margin-bottom: 7px;
}

.hero-wrap {
    padding: 300px 0px 200px 0px;
    position: relative;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
}

.hero-wrap .container {
    position: relative;
    z-index: 1;
}

.hero-tint {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.7);
}

.hero-wrap h1 {
    font-size: 48px;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0;
}
.hero-wrap h2 {
    color: #fff;
    font-weight: 600;
}
.hero-wrap h2 #typed {
    color: #fff;
    font-weight: 300;
}
.hero-wrap p {
    font-size: 18px;
    font-weight: 300;
    color: #fff;
    width: 80%;
}

.hero-cta-container {
    width: 290px;
    height: 60px;
    background-color: #4697ca;
    display: table;
    margin-top: 60px;
    -webkit-transition: background-color 0.5s ease;
    -moz-transition: background-color 0.5s ease;
    -o-transition: background-color 0.5s ease;
    transition: background-color 0.5s ease;
}

.hero-cta-container:hover {
    background-color: #3c85b3;
}

.hero-cta-container a { 
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    vertical-align: middle;
    display: table-cell;
    text-align: center;
}

.hero-cta-container a:hover { 
    text-decoration: none;
    color: #fff;
}

.hero-wrap:after {
    content: ' ';
    width: 50%;
    height: 80px;
    position: absolute;
    bottom: -38px;
    left: 0;
    transform: skewY(-4deg);
    -webkit-transform: skewY(-4deg);
    -o-transform: skewY(-4deg);
    -moz-transform: skewY(-4deg);
    -ms-transform: skewY(-4deg);
    background-color: #fff;
    z-index: 1;
}

.hero-wrap:before {
    content: ' ';
    width: 50%;
    height: 80px;
    position: absolute;
    bottom: -38px;
    right: 0;
    transform: skewY(4deg);
    -webkit-transform: skewY(4deg);
    -o-transform: skewY(4deg);
    -moz-transform: skewY(4deg);
    -ms-transform: skewY(4deg);
    background-color: #fff;
    z-index: 1;
}

/* END OF HERO STYLE */


/* ABOUT STYLE */

.about-wrap {
    padding: 0px 0px 60px 0px;
    text-align: center;
    position: relative;
    z-index: 2;
}

.about-wrap h2  {
    font-size:  45px;
    font-weight: 700;
    text-transform: uppercase;  
    margin-top: 0px
}

.about-wrap p {
    font-size: 18px;
    margin-bottom: 20px;
}

/* END OF ABOUT STYLE */



/* SLOGAN CTA */

.slogan-wrap {
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: 50% 30% !important;
    background-attachment: fixed !important;
    padding:  40px 0px;
    position: relative;
}

.slogan-wrap .row {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
}

.slogan-wrap .container {
    position:   relative;   
    z-index: 1;
}

.slogan-wrap:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.8);
}

.slogan-wrap h2 {
    color: white;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 600;
    margin: 0;
}

.slogan-cta-container {
    width: 300px;
    height: 60px;
    background-color: #4697ca;
    display: table;
    float: right;
    -webkit-transition: background-color 0.5s ease;
    -moz-transition: background-color 0.5s ease;
    -o-transition: background-color 0.5s ease;
    transition: background-color 0.5s ease;
}

.slogan-cta-container a { 
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    vertical-align: middle;
    display: table-cell;
    text-align: center;
}

.slogan-cta-container a:hover { 
    text-decoration: none;
    color:  #fff;
}

.slogan-cta-container:hover {
    background-color: #3c85b3;
}

/* END SLOGAN CTA */


/* SERVICES STYLE */

.services-wrap {
    padding: 70px 0px;
    background: #f7f7f7;
}

.services-wrap h2  {
    font-size:  45px;
    font-weight: 700;
    text-transform: uppercase;  
    margin-top: 0px;
    text-align:center;
}

.services-wrap p {
    text-align: center;
    font-size: 18px;
    font-weight: 300;
}

.services-wrap .row {
    padding: 40px 0 0;
}

.service-single-wrap {
    text-align: center;
}

.service-single-wrap img {
    margin: 0 auto;
    display: block;
}

.service-single-wrap h3 {
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.service-single-wrap p {
    font-size: 16px;
    font-weight: 300;    
}

.img-control {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
}

.services-wrap .row-centered .col-centered {
    margin-bottom: 60px;
}

.main-content-wrap {
    position: relative;
    z-index: 1;
    border-bottom: 1px solid #cbcbcb;
    padding: 25px 0px;
    margin-bottom: 35px;
}

.main-content-wrap p {
    color: #000;
    font-size: 14px;
}

.main-content-wrap a {
    color: #000 !important ;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 25px;
    line-height: 35px;
}

.main-content-wrap a:hover {
    color: #fff;
    text-decoration: none;
}

.main-content-wrap .category,
.main-content-wrap .cat-sept,
.main-content-wrap i {
    color: #9b9b9b;
    font-size: 14px;
    margin-left: 5px;
}

.main-content-wrap  h2 {
    margin-top: 10px;
}

/* END OF SERVICES STYLE */


/* SPECIALIZATION STYLE */

.specialize-wrap {
    padding: 90px 0px;
}

.specialize-wrap .col-centered {
    padding: 30px 0;
}

.specialize-wrap img {
    margin: 0 auto;
    display: block;
    max-width: 185px;
}

.specialize-wrap h3 {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 0px;
    text-align: center;
}

/* END OF SPECIALIZATION STYLE */


/* PRICING STYLE */

.pricing-wrap {
    padding: 80px 0px;
    background: #f7f7f7;
}

.pricing-wrap h2 {
    font-size: 45px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 0px;
    text-align: center;
}

.main-box-wrap {
    background: #fff;
    text-align: center;
    border: 1px solid #e4e4e4;
    margin: 60px 0 0;
}

.second-box-wrap {
    padding: 40px 0 20px;
}

.second-box-wrap .icon-wrap {
    width: 160px;
    height: 160px;
    background: #eeeeee;
    border-radius: 50%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    color: #9fa5ae;
    font-size: 65px;
    margin-bottom: 30px;
}

.second-box-wrap h4 {
    color: #545454;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 700;
}

.second-box-wrap h3 {
    color: #545454;
    font-size: 35px;
    font-weight: 300;
}

.second-box-wrap .notes {
    color: #000;
    font-size: 10px;
    text-transform: uppercase;
    width: 50%;
    margin: 0 auto 5px auto;
    display: block;
}

.second-box-wrap .currency {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 300;
}

.main-box-wrap ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-box-wrap ul li {
    padding: 10px 0;
    font-size: 16px;
    color: #545454;
    border-bottom: 1px solid #f4f4f4;
}

.main-box-wrap ul li:nth-child(odd) {
    background: #f4f4f4;
}

.pricing-cta-container {
    width: 220px;
    height: 50px;
    background-color: #4697ca;
    display: table;
    float: none;
    text-align: center;
    margin: 30px auto;
    -webkit-transition: background-color 0.5s ease;
    -moz-transition: background-color 0.5s ease;
    -o-transition: background-color 0.5s ease;
    transition: background-color 0.5s ease;
}

.pricing-cta-container a {
    font-size: 18px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    vertical-align: middle;
    display: table-cell;
    text-align: center;
    text-decoration: none !important;
}


.pricing-cta-container:hover {
    background-color: #3c85b3;
}

.pricing-cta-container a:hover {
    text-decoration: none;
    color: #fff;
}

/*featured css*/

.featured .second-box-wrap {
    background: #3777a0;
}

.featured .second-box-wrap h4 {
    color: #fff;
}

.featured .second-box-wrap h3 {
    color: #fff;
}

.featured .second-box-wrap .notes {
    color: #fff;
}


.featured .second-box-wrap .icon-wrap {
    background: #fff;
    color: #9fa5ae;
}

.featured .main-box-wrap {
    margin: 20px 0 0;
}

/* END OF PRICING STYLE */


/* TESTIMONIALS STYLE */

.testimonial-wrap {
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: 50% 30% !important;
    background-attachment: fixed !important;
    position: relative;
    padding: 100px 0px;
    text-align: center;
}

.testimonial-wrap .container {
    position: relative;
    z-index: 1;
}

.testimonial-wrap:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.7);
}

.testimonial-wrap .container p {
    color: #fff;
    font-size: 20px;
    width: 90%;
    margin: 0 auto;
}

.testimonial-wrap .container p:before {
    font-family: FontAwesome;
    content: "\f10d";
    margin-right: 103px;
    position: absolute;
    left: 10px;
    font-size: 35px
}

.testimonial-wrap .container .author-wrap p:before {
    content: "";
}


.author-wrap {
    color: #fff;
    font-size: 16px;
    margin-top: 45px;
    padding: 0px 0px 15px;
}

.author-wrap .name {
    font-weight: bold;
    position: relative;
    font-size:15px;
}

.author-wrap .position {
    font-weight: 300;
    font-size:15px;
}

.author-wrap .sitename {
    font-weight: 300;
}

.author-image {
    background-size: cover !important;
    background-position: center !important;
    height: 50px;
    width: 50px;
    position: absolute;
    border-radius: 50%;
    left: -75px;
    top: -15px;
}

.slick-prev:before, .slick-next:before {
  display: inline-block;
  font-family: 'FontAwesome' !important;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;

}

.slick-prev {
    left: -80px !important;
}

.slick-slide {
    position: relative;
}

.slick-initialized .slick-slide:focus {
    outline:0;
}


.fa-angle-right:before {
    content: "\f105";
    padding: 17px 31px;

    font-size: 33px !important;
    text-align: center;
    width: 70px;
    height: 70px;

}

.fa-angle-left:before {
    content: "\f105";
    padding: 17px 31px;

    font-size: 33px !important;
    text-align: center;
    width: 70px;
    height: 70px;

}

/* END OF TESTIMONIALS STYLE */


/* FOOTER STYLE */

.footer-wrap a {
    color: #fff;
}

.footer-wrap a:hover {
    color: #fff;
}

.footer-wrap {
    padding: 30px 0px;
    background: #2a2f35;
}

.footer-wrap .widget-title {
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 30px;
    position: relative;
}

.footer-wrap .widget-title:after {
    content: "";
    height: 2px;
    width: 40px;
    background: #fff;
    position: absolute;
    left: 0px;
    bottom: -13px;
}

.footer-wrap .widget_nav_menu ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.footer-wrap .widget_nav_menu ul li {
    margin: 0 0 10px;
    color: #fff;
}

.footer-wrap .widget_nav_menu ul li a {
    color: #fff;
}
.footer-wrap .widget_nav_menu ul li a:hover {
    color: #fff;
}

.footer-wrap .textwidget p {
    color: #fff;
    font-weight: 300;
}

.footer-wrap  .widget {
    margin-bottom: 30px;
}

/* CONTACT FORM */

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    outline: 0;
}

.footer-wrap input[type="text"], 
.footer-wrap input[type="email"],
.footer-wrap textarea {
    color: #fff;
    border: 1px solid #343d48;
    border-radius: 0px;
    background: #1c2126;
    width: 100%;
    font-weight: 500;
    padding: 13px;
    font-size: 13px;
}

.wpcf7-response-output {
    color: #fff;
}

.footer-wrap textarea {
    height: 120px;
}

.footer-wrap input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
    background: #4697ca;
    width: 100px;
    height: 40px;
    border-radius: 0px;
    border: none;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
}

.single-content {
    text-align: center;
    padding: 20px;
    background: #1c2126;
    color: #fff;
    font-size: 13px;
}


/* END OF FOOTER STYLE */


/* BLOG SECTION */



/* END BLOG SECTION */

.blog #masthead,
.single #masthead,
.search #masthead,
.archive #masthead {
    background: #1c2126;
    padding: 15px 0px;
}


.blog-wrap {
    padding: 120px 0px 50px 0px;
}

.blog .fi-wrap {
    width: 100%;
    height: 355px;
    position: relative;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    align-items: center;
    background-size: cover !important;
    background-position: 50% 50% !important;
}

.blog .float-date {
    position: absolute;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    top: 10px;
    left: 11px;
    z-index: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
    background: #fff;
    -webkit-flex-flow: column nowrap;
    -moz-flex-flow: column nowrap;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    min-height: 80px;
    min-width: 50px;
    padding: 2px 0;
}

.blog .entry-month {
    font-size: 13px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 0px;
}

.blog .entry-date {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 5px;
    margin: 0px;
    line-height: 1.4;
    width: 100%;
    text-align: center;
    position: relative;
}

.blog .entry-date:before {
    content: '';
    height: 2px;
    background: #4697ca;
    width: 20%;
    margin: 0 auto;
    position: absolute;
    right: 0px;
    left: 0px;
}

.blog .entry-date:after {
    content: '';
    height: 2px;
    background: #4697ca;
    width: 20%;
    margin: 0 auto;
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
}

.blog .entry-year {
    font-size: 13px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 3px;
}

.grid2-image-wrap {
    position: relative;
}

.sources {
    text-align: left;
}

.sources .heading {
    text-transform: uppercase;
    font-weight: 600;
}

.sources a,
.sources a:hover {
    color: #4697ca;
}

.fi-wrap:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.blog  .grid2 {
    margin-bottom: 35px;
    padding-bottom: 35px;
    border-bottom: 1px solid #eaeaea;
}

.grid2 .float-date {
    left: 10px;
    right: inherit;
    min-width: 50px;
    min-height: 80px;
}

.grid2 .entry-month {
    font-size: 13px;
}

.grid2 .entry-date {
    font-size: 20px;
}

.grid2 .entry-year {
    font-size: 13px;
}


.grid2 a {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 25px;
    color: #444;
}

.grid2 h2 a {
    color: #676767;
}


.grid2 p {
    font-size: 14px;
}

.grid2 a:hover {
    text-decoration: none;
}


.grid2 h2 {
    margin-top: 10px;
}

.grid2 .category,
.grid2 .cat-sept,
.grid2 i {
    color: #9b9b9b;
    font-size: 14px;
    margin-left: 5px;
}


/* SIDEBAR */

.blog-wrap .sidebar-wrap {
    padding: 0px 30px;
}

.blog-wrap .sidebar-wrap section.widget_search {
    margin-top: 0px;
}

.blog-wrap .sidebar-wrap section {
    margin: 40px 0px;
}

.sidebar-wrap h2.widget-title {
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase;
}

.sidebar-wrap h2.widget-title:after {
    content: '';
    height: 1px;
    border-bottom: 1px solid #4491c3;
    display: block;
    width: 40px;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.sidebar-wrap ul {
    margin: 0;
    padding: 0;
}

.sidebar-wrap ul li {
    list-style: none;
    font-size: 14px;
    position: relative;
    margin-bottom: 15px;
}

.sidebar-wrap ul li a {
    color: #000;
    padding-left: 14px;
    display: block;
}

.sidebar-wrap ul li a:before {
    font-family: FontAwesome;
    content: "\f054";
    font-size: 10px;
    margin-right: 8px;
    display: inline-block;
    color: #4491c3;
    position: absolute;
    left: 0px;
    top: 4px;
}

.sidebar-wrap ul li a:hover {
    text-decoration: none;
}

.tagcloud a {
    color: #ffffff;
    background-color: #4491c3;
    display: block;
    float: left;
    font-size: 10px !important;
    line-height: 18px;
    font-weight: 700;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin: 0 3px 5px 0;
    padding: 6px 10px;
    -webkit-border-radius: 20px;
    -ms-border-radius: 20px;
    border-radius: 20px;
}

.tagcloud a:hover {
    color: #fff;
    background-color: #3a83b2;
    text-decoration: none;
}

.search-form label {
    width: 100%;
}

.search-form .search-field {
    width: 100%;
    border-radius: 0;
    padding: 10px;
    font-size: 12px;
    font-weight: 400;
}

.search-form .search-submit {
    width: 100%;
    border-radius: 0px;
    font-size: 14px;
    padding: 10px 0px;
    text-transform: uppercase;
    font-weight: bold;
    background: #4491c3;
    color: #fff;
    border:none;
}



/* SINGLE POST */

.single-blog-wrap,
.archive-wrap {
    padding: 150px 0px 50px 0px;
}

.single-blog-wrap #primary {
    max-width: 700px;
}

.single-blog-wrap .entry-content h1,
.single-blog-wrap .entry-content h2,
.single-blog-wrap .entry-content h3,
.single-blog-wrap .entry-content h4 {
    font-family: 'PT Serif', serif;
}

.single-blog-wrap h1 {
    font-size: 35px;
    font-weight: 700;
    line-height: 1.2;
    text-align: left;
    color: #0073a0;
    margin: 10px 0px;
}

.single-blog-wrap h2 {
    font-size: 32px;
    font-weight: bold;
    line-height: 1.44;
    text-align: left;
    color: #292827;
}

.single-blog-wrap h3 {
    font-size: 24px;
    line-height: 1.5;
    text-align: left;
    color: #292827;
    margin: 15px 0px;
}

.single-blog-wrap code {
    color: #ff5500;
    border-radius: 0px;
}

.single-blog-wrap code a {
    font-size: inherit;
    color: inherit;
}

.single-blog-wrap pre code {
        white-space: inherit;
}


.single-blog-wrap .category,
.single-blog-wrap .cat-sept {
    font-size: 18px;
    line-height: 1;
    text-align: left;
    color: #9b9b9b;
    font-style: italic;
    font-weight: 300;
}

.single-blog-wrap pre {
    padding: 30px 40px;
    background-color: #fff0ea;
    border: none;
    border-radius: 0px;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.4px;
    text-align: left;
}

.single-blog-wrap p {
    font-family: 'PT Serif', serif;
    font-size: 20px;
    line-height: 1.6;
    text-align: left;
    color: #4a4a4a;
    margin-bottom: 30px;
}

.single-blog-wrap a {
    font-family: 'PT Serif', serif;
    font-size: 20px;
}

.single-blog-wrap ul {
    margin-bottom: 30px;
}

.single-blog-wrap ul li {
    font-family: 'PT Serif', serif;
    font-size: 20px;
    line-height: 1.6;
    text-align: left;
    color: #4a4a4a;
    margin-bottom: 10px;
}


.single-blog-wrap a:hover {
    text-decoration: none;
    color: #337ab7;
}

.single-blog-wrap ol {
    margin-bottom: 30px;
}

.single-blog-wrap ol li {
    font-family: 'PT Serif', serif;
    font-size: 20px;
    line-height: 1.6;
    text-align: left;
    color: #4a4a4a;
}

.single-blog-wrap .single-main-image {
    margin-bottom: 15px;
}

.single-blog-wrap .entry-meta {
    font-style: italic;
}

.social-wrap {
    position: relative;
    padding-top: 50px;
    padding-bottom: 80px;
}

.social-wrap h3:before {
    content: '';
    border-top: 4px solid #58a1cf;
    width: 50px;
    left: 0;
    right: 0;
    position: absolute;
    margin: 0 auto;
    top: 30px;
}
.social-wrap h3 {
    text-align: center;
    color: #4697ca;
    font-weight: bold;
    margin-top: 50px;
    display: block;
    margin: 0;
    padding-top: 5px;
    font-size: 18px;
}

.social-icon-wrap {
    text-align: center;
    margin-top: 40px;
}

.social-icon-wrap i {
    font-size: 28px;
    color: #358abc;
    margin: 0px 10px;
}

.social-icon-wrap i:hover {
    color: #4697ca;
}

/* POST YOU MAY LIKE */

.post-yml .category,
.post-yml .cat-sept {
    color: #c7c7c7;
    font-size: 13px;
}

.pyml-main-image img {
    margin-bottom: 20px;
}

.post-yml {
    padding: 0px 0px 50px;
}

.post-yml h3 {
    font-size: 17px;
    font-size: 17px;
    font-weight: 600;
    line-height: 25px;
    margin-top: 10px;
    margin: 0px;
}

.pyml {
    font-size: 23px;
    font-weight: 600;
    line-height: 1.2;
    color: #358abc;
    margin-bottom: 30px;
    margin-top: 45px;
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
}

.pyml span {
    background-color: #fff;
    padding: 1rem 3rem;
    display: inline-block;
}

.pyml:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    top: 50%;
    left: 0;
    z-index: -1;
    background: #eeedec;
}

.post-yml a {
    color: #0073a0; 
}

.post-yml a:hover {
    text-decoration: none;
}

/* SEARCH PAGE */

.cat-links,
.tags-links {
    display: block;
}

.cat-links a {
    color: #3f84af;
}

.search-wrap .page-title {
    font-size: 25px;
    line-height: 35px;
}

.search-wrap {
    padding: 100px 0px 30px;
}

.search-wrap .container {
    max-width: 800px;
}

.entry-title a {
    color: #3f84af;
    font-weight: 600;
}

.entry-title a:hover {
    text-decoration: none;
}

.entry-summary p {
    font-family: 'PT Serif', serif;
    font-size: 20px;
    line-height: 1.6;
    text-align: left;
    color: #4a4a4a;
    margin-bottom: 30px;
}

.comments-link {
    display: none;
}

/* PAGINATION */

.wp-pagenavi {
    text-align: right;
}

.wp-pagenavi a, 
.wp-pagenavi span {
    text-decoration: none;
    border: 1px solid #4491c3;
    padding: 5px 10px;
    margin: 2px;
    font-size: 14px;
    color: #4491c3;
}

.wp-pagenavi a:hover, .wp-pagenavi span.current {
    border-color: #4491c3;
    background: #4491c3;
    text-decoration: none;
    color: #fff;
}

/* RESPONSIVE STYLE */


/* ARCHIVE */

.archive-wrap h1 {
    text-transform: uppercase;
    font-size: 25px;
    font-weight: bold;
}

.archive-wrap h2 {
    line-height: 19px;
    letter-spacing: 0px;
    min-height: 70px;
}
.archive-wrap h2 a {
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    color: #428ebd;
}

/* SUB PAGE STYLES*/


/* sub hero */

.sub-hero-wrap {
    padding: 170px 0px 120px 0px;
    position: relative;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: bottom !important;
    background-attachment: fixed !important;
    z-index: 0;
}

.sub-hero-wrap .container {
    position: relative;
    z-index: 1;
    text-align: center;
}

.sub-hero-wrap .cta {
    width: 300px;
    height: 50px;
    background: #4697ca;
    display: table;
    margin: 50px auto 0 auto;
    -webkit-transition: background-color 0.5s ease;
    -moz-transition: background-color 0.5s ease;
    -o-transition: background-color 0.5s ease;
    transition: background-color 0.5s ease;
}

.sub-hero-wrap .cta:hover {
    background-color: #3c85b3;
}

.sub-hero-wrap .cta a {
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    vertical-align: middle;
    display: table-cell;
    text-align: center;
}

.sub-hero-wrap .cta a:hover {
    text-decoration: none;
    color: #fff;
}

.sub-hero-tint {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.85);
}

.sub-hero-wrap:after {
    content: ' ';
    width: 50%;
    height: 85px;
    position: absolute;
    bottom: -42px;
    left: 0;
    transform: skewY(5deg);
    -webkit-transform: skewY(5deg);
    -o-transform: skewY(5deg);
    -moz-transform: skewY(5deg);
    -ms-transform: skewY(5deg);
    background-color: #fff;
    z-index: 1;
}

.sub-hero-wrap:before {
    content: ' ';
    width: 50%;
    height: 85px;
    position: absolute;
    bottom: -42px;
    right: 0;
    transform: skewY(-5deg);
    -webkit-transform: skewY(-5deg);
    -o-transform: skewY(-5deg);
    -moz-transform: skewY(-5deg);
    -ms-transform: skewY(-5deg);
    background-color: #fff;
    z-index: 1;
}

.sub-hero-wrap h1 {
    font-size: 50px;
    color: #fff;
    font-weight: 300;
    text-transform: uppercase;
    margin: 0;
}

.sub-hero-wrap p.sub:after {
    content: '';
    height: 2px;
    width: 80px;
    background: white;
    text-align: center;
    margin: 30px auto;
    display: block;
}

.sub-hero-wrap p.sub {
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.5px;
    position: relative;
}

.sub-hero-wrap p {
    color: #fff;
    font-size: 17px;
    font-weight: 300;
    letter-spacing: 0.5px;
    max-width: 90%;
    margin: 0 auto;
    display: block;
}


/* end of sub hero */


/* list */

.service-list {
    padding: 70px 0px;
}

.service-list .list-wrap {
    margin-bottom: 25px;
}

.service-list .list-wrap h3 {
    margin: 0;
    margin-bottom: 10px;
    line-height: 1.3;
    font-size: 16px;
    letter-spacing: 0;
    font-weight: 600;
    color: #222222;
}

.service-list .list-wrap p {
    overflow: hidden;
    color: #808080;
    font-size: 13.5px;
    line-height: 23px;
}

.service-list .list-wrap i {
    font-size: 50px;
    text-align: right;
    color: #4697ca;
}

.service-list .cta {
    width: 300px;
    height: 50px;
    background-color: #4697ca;
    display: table;
    margin: 35px auto 0 auto;
    -webkit-transition: background-color 0.5s ease;
    -moz-transition: background-color 0.5s ease;
    -o-transition: background-color 0.5s ease;
    transition: background-color 0.5s ease;
}

.service-list .cta:hover {
    background-color: #3c85b3;
}

.service-list .cta a {
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    vertical-align: middle;
    display: table-cell;
    text-align: center;
}

.service-list .cta a:hover,
.service-list .cta a:focus {
    text-decoration: none;
    color: #fff;
}

.service-list .section-description {
    text-align: center;
    margin-bottom: 55px;
    font-size: 18px;
}


/* end of list */

/* full image repat */

.full-image-repeat {
    padding: 50px 0px;
}

.full-image-repeat .spacer {
    margin-bottom: 40px;
}

.full-image-repeat h2 {
    font-size: 35px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 0px;
    text-align: center;
}

/* end of full image repat */

/* pricing table */

.pricing {
    padding: 50px 0px;
}

.pricing h3 {
    text-align: center;
    margin-bottom: 55px;
    font-size: 18px;
}

.pricing table {
    background-color: #fff;
    font-size: 16px;
}

.pricing table td,
.pricing table th {
    padding: 20px 10px !important;
}

.pricing .table-bordered > thead > tr > th {
	border-bottom-width: 1px;
}

/* end of pricing table */

/* END OF SUB PAGE STYLES*/


@media only screen and (max-width: 1199px) {

    .main-navigation ul li {
        padding-left: 23px;
    }    

}

@media only screen and (max-width: 1024px) {

    .slogan-wrap,
    .testimonial-wrap,
    .sub-hero-wrap  {
        background-attachment: inherit !important;
        z-index: 0;
    }

    .slick-prev:before, .slick-next:before {
        display: none;
    }

    div.anchor#about-us,
    div.anchor#services,
    div.anchor#testimonials,
    div.anchor#pricing {
        top: -50px;
    }
    footer.site-footer {
        position: relative;
    }
    div.anchor#contact-us {
        position: absolute;
        top:0px;
    }
    .main-navigation ul li {
        padding-left: 19px;
        font-size: 11px;
    } 

    .main-nav-scrolled .main-navigation ul li {
        font-size: 11px !important;
    }

    .hero-wrap h1 {
        font-size: 40px;
    }

    .hero-wrap p {
        font-size: 16px;
    }   
    .hero-wrap {
        padding: 200px 0px 130px 0px;
    }

    .hero-cta-container {
        width: 275px;
        height: 50px;
    }
    .hero-cta-container a {
        font-size: 17px;
    }
    .about-wrap h2,
    .services-wrap h2,
    .pricing-wrap h2 {
        font-size: 35px;
    }
    .about-wrap p,
    .services-wrap p {
        font-size: 16px;
    }
    .slogan-cta-container {
        width: 250px;
        height: 50px;
    }
    .slogan-cta-container a {
        font-size: 17px;
    }
    .slogan-wrap h2 {
        font-size: 25px;
    }
    .service-single-wrap h3 {
        font-size: 16px;
    }
    .service-single-wrap p {
        font-size: 14px;
    }
    .specialize-wrap img {
        max-width: 150px;
    }
    .second-box-wrap h4 {
        font-size: 20px;
    }
    .second-box-wrap {
        padding: 15px 0;
    }
    .second-box-wrap .icon-wrap {
        width: 135px;
        height: 135px;
        font-size: 50px;
    }
    .second-box-wrap h3 {
        font-size: 30px;
    }
    .main-box-wrap ul li {
        font-size: 14px;
    }

    .pricing-cta-container a {
        font-size: 15px;
    }
    .pricing-cta-container {
        width: 170px;
        height: 40px;
    }

}

@media only screen and (max-width: 991px) {

    .service-list .list-wrap .tr {
        text-align: center;
    }

    .service-list .list-wrap .tr i {
        text-align: center;
        font-size: 70px;
        margin-bottom: 20px;
    }

    .service-list .list-wrap h3,
    .service-list .list-wrap p {
        text-align: center;
    }

    .service-list {
        padding: 10px 0px 50px;
        position: relative;
        z-index: 1;
    }
}

@media only screen and (max-width: 767px) {

    /* MOBILE MENU FIX */

    #primary-menu .sub-menu .sub-menu li {
        background: #1c2126;
    }

    #primary-menu > .menu-item-has-children .sub-menu {
        visibility: visible;
        opacity: 1;
        position: initial;
        transform: none;
        background: transparent;
    }

    #primary-menu .sub-menu .menu-item-has-children .sub-menu {
        visibility: visible;
        opacity: 1;
        position: relative;
        top: initial;
        right: initial;
        left: initial;
        width: 100%;
        transform: none;
    }


    header .menu-item.menu-item-has-children .sub-menu a:after {
        content: "";
        font-family: 'FontAwesome';
        font-size: 1.2rem !important;
        speak: none;
        padding-left: 5px;
    }

    #primary-menu .sub-menu li a {
        width: 100%;
        text-align: center;
    }

    #primary-menu .sub-menu .sub-menu > li  a {
        color: #b3b3b3;
        font-style: italic;
    }

     /* END MOBILE MENU FIX */

    .main-navigation ul li ul.sub-menu {
        margin: 0;
    }

    .sub-hero-wrap h1 {
        font-size: 38px;
        margin-bottom: 30px;
     }

    #content .container .zero-padding {
        padding: 0px;
    }


    .blog .fi-wrap {
        height: 210px;
    }

    .main-content-wrap {
        z-index: 0;
    }

    .single-blog-wrap, .archive-wrap {
        padding: 110px 0px 50px 0px;
    }

    .blog-wrap {
        padding: 110px 25px 45px;
    }

    .blog-wrap .sidebar-wrap {
        padding: 0px;
    }

    .grid2-image-wrap {
        margin-bottom: 15px;
    }

    .services-wrap .col-sm-4.col-centered {
        width: 50%;
        margin-bottom: 5px;
    }

    .testimonial-wrap .container p:before {
        display: none;
    }

    .hero-wrap p {
        width: 100%;
    }

    .testimonial-wrap {
        overflow: hidden;
    }

    .footer-wrap img {
        display: none;
    }

    #masthead .row {
        display: inherit;
    }

    .site-branding {
        position: relative;
        z-index: 2;
    }

    .site-branding img {
        max-width: 200px !important;
    }

    .slogan-wrap .row {
        display: inherit;
    }
    .slogan-wrap h2 {
        font-size: 25px;
        text-align: center;
        margin-bottom: 20px;
    }
    .slogan-cta-container {
        float: none;
        margin: 0 auto;
    }
    .service-single-wrap {
        margin-bottom: 50px;
    }
    .main-box-wrap {
        border: 2px solid #e4e4e4;
        margin: 60px 0 0;
        max-width: 360px;
        margin: 20px auto !important;
    }
    .testimonial-wrap .container p.testi-content {
        width: 70%;
        font-size: 16px;
    }
    .testimonial-wrap .container .testi-content:before {
        left: 25px;
    }
    .author-image{
        top: -32px;
        position: absolute; 
        left: 0; 
        right: 0; 
        margin-left: auto; 
        margin-right: auto; 
    }
    .author-wrap {
        position: relative;
    }
    .author-wrap .name {
        position: inherit;
    }
    .author-wrap p {
        padding-top: 50px;
    }
    .author-image {
        top: -15px;
    }
    .author-wrap {
        font-size: 15px;
    }
    .testimonial-wrap {
        padding: 60px 0px 50px;
    }
    .single-content {
        font-size: 12px;
    }
    .hero-wrap h1,
    .hero-wrap h2 {
        text-align: center;
    }
    .hero-wrap p {
        text-align: center;
    }
    .hero-cta-container {
        margin: 40px auto;
    }
    /**/
    .menu-toggle, .main-navigation.toggled ul {
        display: inline-block;
        width: 100%;
        background: rgba(0, 0, 0, 0.95);
        padding: 15px 20px;
        text-align: center;
        margin-top: 10px;
    }
    #masthead .burger {
        position: absolute;
        width: 100%;
        padding: 0px;
        top: 25px;
    }
    #masthead.main-nav-scrolled .burger {
        top: 11px;
    }
    .hero-wrap .container {
        position: relative;
        z-index: 0;
    }

    .main-navigation ul li {
        padding-left: 19px;
        font-size: 14px;
        display: grid;
        padding: 15px 0px;
    }

    button.navbar-toggle {
        right: 13px;
    }

    #masthead {
        background: #010101;
        padding: 20px 0px;
    }


}
@media only screen and (max-width: 567px) {
   .services-wrap .col-sm-4.col-centered {
        width: 100%;
    }
    .services-wrap .row-centered .col-centered {
        margin-bottom: 0px;
    }
    .herosmall {
        font-size: 20px;
    }
    .hero-wrap h1 {
        font-size: 35px;
    }
    .hero-wrap h2 {
        font-size: 22px;
    }

}

@media only screen and (max-width: 320px) {

    .specialize-wrap .col-centered {
        width: 100%;
    }
    .herosmall {
        font-size: 16px;
    }
    .hero-wrap h1 {
        font-size: 25px;
    }
    .hero-wrap h2 {
        font-size: 15px;
    }
    .hero-cta-container a {
        font-size: 15px;
    }
    .hero-cta-container {
        width: 200px;
        height: 45px;
    }

}

/* reCaptcha hack */

@media screen and (max-height: 575px) { 

    #rc-imageselect, 
    .g-recaptcha {  

    transform:scale(0.77);
    -webkit-transform:scale(0.77);
    transform-origin:0 0;
    -webkit-transform-origin:0 0;
    
    } 
}

/* end of reCaptcha hack */
