/* =Responsive 12 Column Grid
    http://themeid.com/responsive-grid/
-------------------------------------------------------------- */
.grid {
	float: left;
	margin-bottom: 2.127659574468%;
	padding-top: 0;
}

.grid-right {
	float: right;
	margin-bottom: 2.127659574468%;
	padding-top: 0;
}

.col-60, 
.col-140, 
.col-220, 
.col-300, 
.col-380, 
.col-460, 
.col-540, 
.col-620, 
.col-700, 
.col-780, 
.col-860 {
	display: inline;
	margin-right: 2.127659574468%;
}

.col-60 {
	width: 6.382978723404%;
}

.col-140 {
	width: 14.893617021277%;
}

.col-220 {
	width: 23.404255319149%;
}

.col-300 {
	width: 31.914893617021%;
}

.col-380 {
	width: 40.425531914894%;
}

.col-460 {
	width: 48.936170212766%;
}

.col-540 {
	width: 57.446808510638%;
}

.col-620 {
	width: 65.957446808511%;
}

.col-700 {
	width: 74.468085106383%;
}

.col-780 {
	width: 82.978723404255%;
}

.col-860 {
	width: 91.489361702128%;
}

.col-940 {
	width: 100%;
}

.fit {
	margin-left: 0 !important;
	margin-right: 0 !important;
}

#rwd {
	max-width: 980px;
}

h3.rwd-toggle {
    -moz-box-shadow: inset 0 1px 0 #fff;
    -webkit-box-shadow: inset 0 1px 0 #fff;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
    box-shadow: inset 0 1px 0 #fff;
	padding: 0 0 0 10px;
	margin: 20px 0 0 0;
	border:1px solid #dfdfdf;
    background: #f5f5f5;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#f5f5f5), to(#f9f9f9));
    background-image: -webkit-linear-gradient(bottom, #f5f5f5, #f9f9f9);
    background-image: -moz-linear-gradient(bottom, #f5f5f5, #f9f9f9);
    background-image:-o-linear-gradient(bottom, #f5f5f5, #f9f9f9);
    background-image: linear-gradient(to top, #f5f5f5, #f9f9f9);
	height: 34px;
	line-height: 34px;
	width: 980px;
	font-size: 15px;
	font-weight: normal;
	float: left;
}

h3.rwd-toggle a {
	background: url(images/arrow-light.png) 99% 50% no-repeat;
	color: #464646;
	font-family: Georgia, "Times New Roman", "Bitstream Charter", Times, serif;
	text-decoration: none;
	display: block;
	text-shadow: 0 1px 0 #fff;
}

h3.rwd-toggle a:hover {
	background: url(images/arrow-dark.png) 99% 50% no-repeat;
	color: #444;
}

h3.active {
	background-position: left bottom;
}

.rwd-container {
	-webkit-border-bottom-right-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-bottomright: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	margin: 0;
	padding: 0;
	border: 1px solid #dfdfdf;
	border-top: none;
	background: #fcfcfc;
	overflow: hidden;
	font-size: 12px;
	clear: both;
	color: #333;
	width: 990px;
}

.rwd-container .rwd-block {
	padding: 20px;
}

div.updated {}

/* =Buttons
-------------------------------------------------------------- */
input[type='submit'].button-primary {
  margin-right: 4px;
}

/* =Inline CSS
-------------------------------------------------------------- */
.inline-css {
	background: #f9f9f9;
	font-family: Consolas, "Bitstream Vera Sans Mono", "Courier New", Courier, monospace !important;
	outline: none;
}

/* =Help Links
-------------------------------------------------------------- */
.help-links {
	border-top: 1px solid #ddd;
	display: block;
	font-size: 12px;
	margin-top: 10px;
	padding-top: 10px;
}

/* =Info Boxes
-------------------------------------------------------------- */
#info-box-wrapper {
    margin-bottom: 0;
}

.info-box {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	display: block;
	margin: 20px 0;
	padding: 15px;
	text-align: left;
}

.alert {
	background-color: #faebeb;
	border: 1px solid #dc7070;
	color: #212121;
}

.address {
	background-color: #f6f5ef;
	border: 1px solid #cdc9a5;
	color: #212121;
}

.notice {
	background-color: #fbf9e9;
	border: 1px solid #e3cf57;
	color: #212121;
}

.success {
	background-color: #f9fde8;
	border: 1px solid #a2bc13;
	color: #212121;
}

.download {
	background-color: #fff4e5;
	border: 1px solid #ff9912;
	color: #212121;
}

.information {
	background-color: #eef3f6;
	border: 1px solid #6ca6cd;
	color: #212121;
}

.required {
	color: #d5243f;
}

/* =RTL CSS
-------------------------------------------------------------- */
.rtl .grid {
    float: right;
    margin-bottom: 2.083%;
    padding-top:0;
}

.rtl .col-60, .rtl .col-140, .rtl .col-220, .rtl .col-300, .rtl .col-380, .rtl .col-460, .rtl .col-540, .rtl .col-620, .rtl .col-700, .rtl .col-780, .rtl .col-860 {
    margin-right: 0;
    margin-left:2.12766%;
}

.rtl  h3.rwd-toggle {
    padding: 0 10px 0 0;
    float: right;
}

.rtl h3.rwd-toggle a {
    background: url(images/arrow-light.png) 1% 50% no-repeat;
}

.rtl h3.rwd-toggle a:hover {
    background: url(images/arrow-dark.png) 1% 50% no-repeat;
}

.rtl .info-box {
    text-align: right;
}

/*************** Upgrade bar ****************/

.upgrade-callout {
	background: #81c7ef;
	padding: 0 10px 10px 10px;
	margin-top: 10px;
	font-size: 1.5em;
	border: 1px solid #5ba9d3;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	overflow: hidden;
}
.upgrade-callout p {
	color: #FFFFFF;
	text-align: center;
	line-height: 1.4em;
	font-weight: bold;
	margin: 5px 0 0;
}
.upgrade-callout p img {
	position: relative;
	top: 10px;
	left: 0;
	margin-right: 5px;
}
.upgrade-callout a:link {
	color: #006da8;
}
.upgrade-callout a:visited {
	color: #006da8;
}
.upgrade-callout a:hover {
	color: #0085cf;
}
.upgrade-callout div.social-container {
	position: relative;
	left:50%;
	height: 20px;
	margin-top: 10px;
	margin-left: -100px;
}
.upgrade-callout div.social {
	float: left;
}
.upgrade-callout div.social .twitter-follow-button {
	height: 21px!important;
}
.upgrade-callout div.social:last-child {
	margin-left: 10px;
}

/*************** Extra Option Classes *****************/

.site-tracker {
  height: 150px;
}