.button_1 a{
max-width:100%;
background-size:100% 100% !important;
}

.widget-wrapper-top1 iframe{
max-width:100%;
}

.mid_insimg,.mid_instxt{
width:100% !important;
margin:10px auto  !important;
}










@media screen and (max-width:980px){


#logo{
margin:20px auto 30px !important;
float:none !important;
text-align:center !important;
}
.left_formin *{
box-sizing:border-box !important;
}
.left_formin h3{
width:100% !important;
text-align:center !important;
margin-top:20px !important;
}

.left_formin .inputbox{
width:100% !important;

}


.left_formin .inputbox input{
padding:7px;
}

.left_formin .hecontbutton{
width:100% !important;
padding:0 5px;
}

.left_formin .hecontbutton input{
width:100% !important;
padding:7px;


}


.widget-wrapper-top1,.widget-wrapper-top1 h3, .widget-wrapper-top2 h3, .widget-wrapper-top4 h3{
text-align:center !important;

}
#widgets .textwidget a{
margin:auto !important;
}

.mid_instxt,.bottotxt{
width:100% !important;
margin-right:0px !important;
}

.bottotxt a{
display:block;
}

.widget-wrapper-top1,
.widget-wrapper-top2,
.widget-wrapper-top3,
.widget-wrapper-top4{
padding:10px 0 !important;
}

}



@media screen and (max-width:480px){
.left_formin{
width:90% !important;
}

}



@media screen and (max-width:767px){

.footerhome .footer-menu li{
float:left;
width:100%;
}

.mid_insimg,.bottomtximg {
width:100% !important;
margin:10px auto  !important;
}

.mid_instxt a{
    font-size: 18px;
}

}

