/* Defines styles for upsell page */

/************************************************************************************************************/
/********************************************* WP FIXES *****************************************************/
/************************************************************************************************************/

body {
  background-color: transparent;
}
ul, ol {
  padding: 0;
  margin: 0;
}

/************************************************************************************************************/
/********************************************* STYLING ******************************************************/
/************************************************************************************************************/

#upsell_container a {
  text-decoration: none;
}

#upsell_header {
  text-align: center;
  margin-bottom: 30px;
}

.theme-container:before, .theme-container:after {
  display: table;
  line-height: 0;
  content: '';
}

.theme-container:after {
  clear: both;
}

.theme-container {
  margin-bottom: 40px;
  padding-bottom: 40px;
  border-bottom: 1px dashed #cccccc;
}

.theme-container .theme-image img {
  padding: 3px;
  border: 5px solid #aaaaaa;
}

.theme-description {
  margin-bottom: 20px;
}