/* 
Theme Name: Newcom
Description: Responsive Theme is a flexible foundation with fluid grid system that adapts your website to mobile devices and the desktop or any other viewing environment. Theme features 9 Page Templates, 11 Widget Areas, 6 Template Layouts, 4 Menu Positions and more. Powerful but simple Theme Options for full CMS control with easy Logo Upload, Social Networking and Webmaster Tools etc. Responsive is WooCommerce Compatible, Multilingual Ready (WPML), RTL-Language Support, Retina-Ready, Search Engine Friendly, W3C Markup Validated and currently translated into 40 languages. Cross-Browser compatible. No paid memberships or clubs to get

Version: 1.9.3.6
Author: VRTechnologies (Ashish Gupta)
Author URI: http://www.vrtechnologies.info
Tags: white, black, gray, light, custom-menu, custom-header, custom-background, one-column, two-columns, left-sidebar, right-sidebar, flexible-width, theme-options, threaded-comments, full-width-template, sticky-post, translation-ready, flexible-width, rtl-language-support
Text Domain: NEWCOM
*/
/* =Reset CSS (v2.0) http://meyerweb.com/eric/tools/css/reset/
-------------------------------------------------------------- */

@font-face {
    font-family: 'Alef';
    src: url('fonts/Alef-Bold.eot');
    src: url('fonts/Alef-Bold.eot?#iefix') format('embedded-opentype'),
         url('fonts/Alef-Bold.woff') format('woff'),
         url('fonts/Alef-Bold.ttf') format('truetype'),
         url('fonts/Alef-Bold.svg#alefbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Alef';
    src: url('fonts/Alef-Regular.eot');
    src: url('fonts/Alef-Regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/Alef-Regular.woff') format('woff'),
         url('fonts/Alef-Regular.ttf') format('truetype'),
         url('fonts/Alef-Regular.svg#alefregular') format('svg');
   font-weight: normal;
   font-style: normal;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  font-size: 100%;
  font: inherit;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

/*HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}



button, input, select, textarea {

  font-size: 100%;

  overflow: visible;

  margin: 0;

  vertical-align: baseline;

  width: auto;

}



textarea {

  overflow: auto;

  vertical-align: text-top;

}



/* =Horizontal Rule

-------------------------------------------------------------- */

hr {

  background: #dddddd;

  border: none;

  clear: both;

  color: #dddddd;

  float: none;

  height: 1px;

  width: 100%;

}



hr.space {

  background: #ffffff;

  color: #ffffff;

}



/* =Base

-------------------------------------------------------------- */

html {

  height: 100%;

}



body {

font-family: 'Alef';

color: #7E7E7E;

font-size: 14px;

margin: 0;

padding: 0;

background: url(core/images/background.jpg);

text-align: right;

direction: rtl;

}



/* =Typography

-------------------------------------------------------------- */

p {

  word-wrap: break-word;

}



i,

em,

dfn,

cite {

  font-style: italic;

}



tt,

var,

pre,

kbd,

samp,

code {

  font-family: 'Alef';

  font-style: normal;

}



b,

strong {

  font-weight: 700;

}



pre {

  -moz-box-sizing: border-box;

  -moz-border-radius: 2px;

  -moz-box-shadow: 0 1px 0 #ffffff, inset 0 1px 1px rgba(0, 0, 0, 0.2);

  -webkit-border-radius: 2px;

  -webkit-box-shadow: 0 1px 0 #ffffff, inset 0 1px 1px rgba(0, 0, 0, 0.2);

  -webkit-box-sizing: border-box;

  box-shadow: 0 1px 0 #ffffff, inset 0 1px 1px rgba(0, 0, 0, 0.2);

  box-sizing: border-box;

  background: #f4f4f4;

  border: 1px solid #aaaaaa;

  border-bottom-color: #cccccc;

  border-radius: 2px;

  height: auto;

  margin: 0;

  outline: none;

  padding: 6px 10px;

  vertical-align: middle;

  width: 100%;

  word-wrap: break-word;

  white-space: pre-wrap;

}



del {

  color: #555555;

  text-decoration: line-through;

}



ins,

dfn {

  border-bottom: 1px solid #cccccc;

}



sup,

sub,

small {

  font-size: 85%;

}



abbr,

acronym {

  font-size: 85%;

  letter-spacing: .1em;

  text-transform: uppercase;

}



a abbr,

a acronym {

  border: none;

}



dfn[title],

abbr[title],

acronym[title] {

  border-bottom: 1px solid #cccccc;

  cursor: help;

}



sup {

  vertical-align: super;

}



sub {

  vertical-align: sub;

}



/* =Responsive 12 Column Grid

    http://themeid.com/responsive-grid/

-------------------------------------------------------------- */

.grid {

  float: left;

  margin-bottom: 1.127659574468%;

  padding-top: 0;

}



.grid-right {

  float: right;

  margin-bottom: 2.127659574468%;

  padding-top: 0;

}



.col-60,

.col-140,

.col-220,

.col-280,

.col-300,

.col-380,

.col-460,

.col-540,

.col-700,

.col-780,

.col-860 {

  display: inline;

  margin-right: 2.127659574468%;

}



.col-620{

	display: inline-table;

	margin-right:0px;

}



.col-330-1,.col-330-2,.col-330-3, .col-330-4{

	display:inline;

}



.col-60 {

  width: 6.382978723404%;

}



.col-140 {

  width: 14.893617021277%;

}



.col-220 {

  width: 23.404255319149%;

}



.col-280 {

  width: 28%;

}



.col-300 {

  width: 31.914893617021%;

}



.col-330-1, .col-330-2, .col-330-3, .col-330-4 {

  width: 33.33%;

  margin-bottom:0px;

/*  background:url(core/images/appeal_bck.png) no-repeat bottom center;*/

}



.bottomimg{

	  background:url(core/images/appeal_bck.png) no-repeat top center;

}



.widget-wrapper-top1{

  margin: 0 0 px;

  padding: 0px 19px 0px 0px;

  background: url(core/images/sepmid.png) no-repeat right 20px;

  min-height:245px;

  line-height:18px;

}



.widget-wrapper-top2{

  margin: 0 0 px;

  padding: 10px 30px 0px 25px;

   background: url(core/images/sepmid.png) no-repeat right 20px;

   min-height:245px;

}

.widget-wrapper-top1 h3, .widget-wrapper-top2 h3, .widget-wrapper-top4 h3{

	text-align:right;

	font-weight:normal;

	margin:0;

	padding:0;

	color:#494949;

	font-size:24px;

	color:#494949;

	font-family: 'Alef';

	}



.button_1 {

	margin:12px 0 0 0;

	border:0px;

	

	line-height:55px;

}

.button_1 a {

	font-size:24px;

	color:#fff;

	width:274px;

	height:55px;

	display:block !important;

	background:url(core/images/button.png) no-repeat;

	font-family: 'Alef';

	text-decoration:none;

	text-align:center;

}



.widget-wrapper-top4{

  margin: 0 0 0px;

  padding: 10px 0px 0px 30px;

  color:#7E7E7E;

  overflow:hidden;

}



.widget-wrapper-top4 h5 {

/*width: 293px;*/

font-weight: bold;

text-align: right;

margin: 15px 0 0 0;

padding: 0;

color: #e10a37 !important;

font-size: 16px;

color: #494949;

font-family: 'Alef';

}



.widget-wrapper-top4 p{

	margin: 10px 0 0 0;

padding: 0;

color: #494949;

font-size: 14px;

color: #7e7e7e;

font-family: 'Alef';

text-align: right;

line-height: 18px;

}





.bottomtxt1 {

	margin:0px 0 0 0;

	line-height:18px;

	direction:rtl;

}

.bottomtximg {

	float:right;

	width:188px !important;

}



.blogimg .bottomtximg img{

	width:100%;

}



.bottomtximg img{

	margin:5px 0px !Important;

	

width:188px;

}

.bottotxt {

	float:right;

	width:64%;

	margin-right:6%;

}



.blogpostindex .bottotxt {

	float:right;

	width:78.6%;

	margin-right:6%;

}



.widget-wrapper-top1 .textwidget p{

	padding:10px 0px 15px 0px;

	margin:0px;

}



.bottotxt p {

	text-align:right;

	font-size:14px;

	color:#999999;

	font-weight:normal;

	font-family: 'Alef';

	margin:0;

	padding:0;

	line-height:18px;

}

.bottotxt a {

	text-align:right;

	font-size:12px;

	color:#e10a37;

	font-weight:normal;

	font-family: 'Alef';

	margin:0px 0px 10px 0px;

	padding:0;

}

.bottomtxttop {

	margin:0px 0 10px 0;

}



.widget-wrapper-top3{

  margin: 0 0 px;

  padding: 0px 30px 0px 25px;

  min-height:245px;

  line-height:18px;

}

.mid_insrd {

	margin:0px 0px 00px 0;

}

.mid_insimg {

	width:79px;

	float:right;

	margin:0 0 0 0px;

}



.mid_insimg img{

	margin:5px 0px !important;

	height:108px;

}

.mid_instxt {

	width:60%;

	margin-right:6%;

	float:right;

}

.mid_instxt h2 {

	font-size:18px;

	color:#494949;

	font-weight:normal;

	font-family: 'Alef';

	margin:0 0 15px 0;

	padding:0;

}

.mid_instxt p {

	font-size:14px;

	color:#6c6c6c;

	font-weight:normal;

	font-family: 'Alef';

	margin:0 0 10px 0;

	padding:0;

}

.middsap{

	height:10px;

}

/*jugal 9-1-14*/

.mid_instxt a {

	font-size:12px;

	color:#e10a37;

	font-weight:normal;

	font-family: 'Alef';

	margin:0;

	padding:0;

	float:right;

}

.mid_insrsr {

	width:305px;

	float:right;

	margin:0 0 0 0px;

	text-align:right;

}





.col-380 {

  width: 40.425531914894%;

}



.col-460 {

  width: 48.936170212766%;

}



.col-540 {

  width: 57.446808510638%;

}



.col-620 {

  /*width: 65.957446808511%;*/

  width: 65.1%;

}



.col-700 {

  width: 74.468085106383%;

}



.col-780 {

  width: 82.978723404255%;

}



.col-860 {

  width: 91.489361702128%;

}



.col-940 {

  width: 100%;

}



.fit {

  margin-left: 0 !important;

  margin-right: 0 !important;

}



/* =Visibility

-------------------------------------------------------------- */

.hidden {

  visibility: hidden;

}



.visible {

  visibility: visible;

}



.none {

  display: none;

}



.hide-desktop {

  display: none;

}



.show-desktop {

  display: block;

}



/* =Responsive Images

-------------------------------------------------------------- */

img {

  -ms-interpolation-mode: bicubic;

  border: 0;

  height: auto;

  max-width: 100%;

  vertical-align: middle;

}



.ie8 img {

  height: auto;

  width: auto\9;

}



.ie8 img.size-large {

  max-width: 60%;

  width: auto;

}



/* =Responsive Videos

-------------------------------------------------------------- */

video {

  width: 100%;

  max-width: 100%;

  height: auto;

}



/* =Responsive Embeds/Objects

-------------------------------------------------------------- */

embed,

object {

  max-width: 100%;

}



svg:not(:root) {

  overflow: hidden;

}



/* =Links

-------------------------------------------------------------- */

a {

  color: #e10a37;

  font-weight: 400;

  text-decoration: none;

}



a:hover,

a:focus,

a:active {

  color: #444444;

  outline: 0;

  text-decoration: none;

}



::selection {

  background: #999999;

  color: #ffffff;

  text-shadow: none;

}



/* =Forms

-------------------------------------------------------------- */

label {

  display: inline-block;

  font-weight: 700;

  padding: 2px 0;

}



legend {

  padding: 2px 5px;

}



fieldset {

  border: 1px solid #cccccc;

  margin: 0 0 1.5em;

  padding: 1em 2em;

}



select,

input[type="text"],

input[type="password"],

input[type="email"],

input[type="tel"]{

  -moz-box-sizing: border-box;

  -moz-border-radius: 3px;

  -webkit-box-sizing: border-box;

  -webkit-border-radius: 3px;

  -webkit-box-shadow: 0 1px 0 #ffffff, inset 0 1px 1px rgba(0, 0, 0, 0.2);

  -moz-box-shadow: 0 1px 0 #ffffff, inset 0 1px 1px rgba(0, 0, 0, 0.2);

  box-shadow: 0 1px 0 #ffffff, inset 0 1px 1px rgba(0, 0, 0, 0.2);

  background-color: #ffffff;

  box-sizing: border-box;

  border: 1px solid #E4E2E3;

  border-bottom-color: #E4E2E3;

  border-radius: 3px;

  cursor: text;

  margin: 0;

  outline: none;

  padding: 6px 8px;

  vertical-align: middle;

  width: 100%;

}



select {

  height: auto;

  width: 100%;

}



area,

textarea {

  -moz-box-sizing: border-box;

  -webkit-box-sizing: border-box;

  -webkit-border-radius: 2px;

  -webkit-box-shadow: 0 1px 0 #ffffff, inset 0 1px 1px rgba(0, 0, 0, 0.2);

  -moz-box-shadow: 0 1px 0 #ffffff, inset 0 1px 1px rgba(0, 0, 0, 0.2);

  background-color: #ffffff;

  box-shadow: 0 1px 0 #ffffff, inset 0 1px 1px rgba(0, 0, 0, 0.2);

  box-sizing: border-box;

  border: 1px solid #aaaaaa;

  border-bottom-color: #cccccc;

  border-radius: 2px;

  height: auto;

  overflow: auto;

  margin: 0;

  outline: none;

  padding: 8px 10px;

  width: 100%;

}



input,

select {

  cursor: pointer;

}



area:focus,

input:focus,

textarea:focus {

  border: 1px solid #66ccff;

}



input[type='text'],

input[type='password'] {

  cursor: text;

}



/* =IE Forms

-------------------------------------------------------------- */

.ie7 area,

.ie7 select,

.ie7 textarea,

.ie7 input[type="text"],

.ie7 input[type="password"],

.ie7 input[type="email"] {

  width: 96%;

}



/* =IE6 Notice

-------------------------------------------------------------- */

.msie-box {

  background-color: #f9edbe;

  border: 1px solid #f0c36d;

  color: #212121;

  display: block;

  margin: 0 auto;

  max-width: 956px;

  padding: 10px;

  position: absolute;

  top: 60px;

  text-align: center;

  width: 100%;

}



.msie-box a {

  color: #212121;

}



/* =Tables

-------------------------------------------------------------- */

th,

td,

table {

  border: 1px solid #dddddd;

}



table {

  border-collapse: collapse;

  width: 100%;

}



/* =Lists

-------------------------------------------------------------- */

ul {

  list-style-type: disc;

  margin: 0;

  padding: 0;

}



ol {

  line-height: 22px;

  list-style-position: outside;

  list-style-type: decimal;

  margin: 0;

  padding: 0;

}



dt {

  font-weight: 400;

}



/* =Blockquote

-------------------------------------------------------------- */

blockquote {

  background: #f9f9f9;

  border: none;

  border-left: 4px solid #d6d6d6;

  margin: 20px;

  overflow: auto;

  padding: 0 0 10px 12px;

}



blockquote p {

  font-family: 'Alef';

  font-style: italic;

  font-size: 18px;

  line-height: 26px;

}



/* =Headings

-------------------------------------------------------------- */

h1, h2, h3, h4, h5, h6, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {

  font-weight: 700;

  line-height: 1.0em;

  word-wrap: break-word;

}



h1 {

  font-size: 2.625em; /* = 42px */

  margin-bottom: .5em;

  margin-top: .5em;

}



h2 {

  font-size: 2.250em; /* = 36px */

  margin-bottom: .75em;

  margin-top: .75em;

}



h3 {

  font-size: 1.875em; /* = 30px */

  margin-bottom: .857em;

  margin-top: .857em;

}



h4 {

  font-size: 1.500em; /* = 24px */

  margin-bottom: 1em;

  margin-top: 1em;

}



h5 {

  font-size: 1.125em; /* = 18px */

  margin-bottom: 1.125em;

  margin-top: 1.125em;

}



h6 {

  font-size: 1.000em; /* = 16px */

  margin-bottom: 1.285em;

  margin-top: 1.285em;

}



/* =Margins & Paddings

-------------------------------------------------------------- */

p,

hr,

dl,

pre,

form,

table,

address,

blockquote {

  margin: 1.6em 0;

}



th, td {

  padding: .8em;

}



caption {

  padding-bottom: .8em;

}



blockquote {

  padding: 0 1em;

}



blockquote:first-child {

  margin: .8em 0;

}



fieldset {

  margin: 1.6em 0;

  padding: 0 1em 1em;

}



legend {

  padding-left: .8em;

  padding-right: .8em;

}



legend+* {

  margin-top: 1em;

}



input,

textarea {

  padding: .3em .4em .15em;

}



select {

  padding: .1em .2em 0;

}



option {

  padding: 0 .4em;

}



dt {

  margin-bottom: .4em;

  margin-top: .8em;

}



ul {

  list-style-type: disc;

}



ol {

  list-style-type: decimal;

}



ul,

ol {

  margin: 0px 5px 10px 0;

  padding-left: 2.0em;

}



li ul,

li ol {

  margin: 0;

}



form div {

  margin-bottom: .8em;

}



/* =Globals

-------------------------------------------------------------- */

#container {

  margin: 0 auto;

  max-width: 956px;

  padding: 0px;

}



#wrapper {

/*  -webkit-border-radius: 4px;

  -moz-border-radius: 4px;

  background-color: #ffffff;

  border: 1px solid #e5e5e5;

  border-radius: 4px;*/

  clear: both;

  margin: 0px auto 0px auto;

  /*padding: 0 20px 20px 20px;*/

  position: relative;

}



.front-page #wrapper {

  background-color: transparent;

  border: none;

  margin: 20px auto 20px auto;

  padding: 0;

}



#header {

  margin: 0;

  background:url(core/images/bgnew.png) no-repeat top center;

  width:100%;

  position:relative;

  height:383px;

}



#header-inner {

  margin: 0;

  background:url(core/images/bg-inner.png) no-repeat top center;

  width:100%;

  position:relative;

  height:383px;

}



.headerbottombg{

	background:url(core/images/header-bottom-bg.png) repeat-x;

	height:9px;

}



.mainhead{

	max-width:1065px;

	margin: 0 auto;

	background:url(core/images/header-repeat-img.png);

	 position:relative;

	 z-index:999;

}



.topheadbg{

/*	background:url(core/images/background.jpg);*/

margin:0px auto;

max-width:956px;

}



.headermenu{

	float:right;

	direction:rtl;

	margin-top:43px;

}



.left_form{

	width: 398px;

	margin: 0 auto;

	position: absolute;

	height:383px;

	background: url(core/images/header-curve-shape.png) no-repeat top center;

	top:0px;

	left:0px;

}



.left_formin {

	float:right;

	width:55%;

	margin-top:115px;

	margin-right:180px;

}

.left_form div.wpcf7-validation-errors{
	position:absolute;
	top:70px;
	right:170px;
	color:#FFF;
}

.left_form span.wpcf7-not-valid-tip{
	color:#FFF !important;
	position:absolute;
	width:100%;
	right:195px;
	top:0px;
}

.left_formin h3 {

	width:192px;

	font-size:24px;

	color:#fff;

	font-family: 'Alef';

	text-align: justify;

	margin:0 10px 7px 0;

	padding:0;

	font-weight: normal;


}

.inputbox {

	margin:0px 0 0 0;

	width:220px !important;

	padding:5px;

}

.inputbox input {

	font-size:18px;

	color:#e10a37;

	font-family: 'Alef';

	border:0px;

	background:#FFF;

	padding:2px 5px;

	direction:rtl;

	text-align:right;

	width:100% !important;

}

.hecontbutton {

	width:195px;

	margin:4px 0 0 5px;

}

.hecontbutton input {	

	cursor:pointer;

	float:left;

	background:#F6F4F5;

}





.header-banner{

position: absolute;

bottom: 1px;

right: 0px;

width:100%;

margin:0px auto;


}



.contactformleft{

	float:left;

	width:50%;

margin: 0 0 px;

padding: 13px 19px 0px 0px;

background: url(core/images/sepmid.png) no-repeat right top;

}



.contactformleft form{

	margin:0px;

}



.contactformright{

	float:right;

	width:46%;

	padding-top:13px;

}



.contactinputbox{

	margin-bottom:17px;

}



.contactinputbox input{

	background:#F6F4F5;

	border-bottom:0px;

	border-left:0px;

	padding:10px 8px;

	color:#7E7E7E;

	font-size:14px;
	text-align:right;

}



.contactbutton{

	text-align:left;

	margin:0px;

}

.contactbutton input{

	background:#F6F4F5;

	float:left;

}



.contactbutton img{

	float:left;

}



.contactformright p{

	margin:0px 0px 10px 0px;

}



.footermain{

	  background:#e10a37;

}



#footer {

  clear: both;

  margin: 0 auto;

  max-width: 956px;

  padding: 20px 0px 10px 0px;

}



#footer-wrapper {

  margin: 0;

  padding: 0;

}



.footerhome{

	text-align:center;

	color:#ddd;

	font-size:12px;

}





/* =Header

-------------------------------------------------------------- */

#logo {

  float: left;

  margin: 0;

  margin:4px 0 0 200px;

  position:absolute;

  z-index:9999;

  left:0px;

}



.site-name {

  display: block;

  font-size: 2.063em; /* = 33px */

  line-height: 1.0em;

  padding-top: 20px;

}



.site-name a {

  color: #333333;

  font-weight: 700;

}



.site-description {

  color: #afafaf;

  display: block;

  font-size: 0.875em; /* = 14px */

  margin: 10px 0;

}



/* =Content

-------------------------------------------------------------- */

#content {

		margin-bottom:10px;

		line-height:18px;

		margin-top:-290px;

}



.contactus{

	float:right;

}



h1.post-title{

	padding: 0px 0px 35px;

margin: 0px;

font-size: 24px;

color: #65A332;

}



#content-full {

  margin-top: 40px;

  margin-bottom: 20px;

}



#content-blog {

  margin-top: 40px;

  margin-bottom: 20px;

}



#content-images {

  margin-bottom: 20px;

}



#content-search {

  margin-bottom: 20px;

  margin-top: 20px;

}



#content-archive {

  margin-top: 40px;

  margin-bottom: 20px;

}



#content-sitemap {

  margin-top: 40px;

  margin-bottom: 20px;

}



#content-sitemap a {

  font-size: 12px;

}



#content .sticky {

  clear: both;

}



#content .sticky p {

}



/* =Templates (Landing Page)

-------------------------------------------------------------- */

.page-template-landing-page-php .menu,

.page-template-landing-page-php .top-menu,

.page-template-landing-page-php .main-nav,

.page-template-landing-page-php .footer-menu,

.page-template-landing-page-php .sub-header-menu {

  display: none;

}



/* =Author Meta (Author's Box)

-------------------------------------------------------------- */

#author-meta {

  -moz-border-radius: 4px;

  -webkit-border-radius: 4px;

  background: #f9f9f9;

  border: 1px solid #d6d6d6;

  border-radius: 4px;

  clear: both;

  display: block;

  margin: 30px 0 40px 0;

  padding: 10px;

  overflow: hidden;

}



#author-meta img {

  float: left;

  padding: 10px 15px 0 5px;

}



#author-meta p {

  margin: 0;

  padding: 5px;

}



#author-meta .about-author {

  font-weight: 700;

  margin: 10px 0 0 0;

}



/* =Featured Content

-------------------------------------------------------------- */

#featured {

  /*-moz-border-radius: 4px;

  -webkit-border-radius: 4px;

  background-color: #ffffff;

  border: 1px solid #e5e5e5;

  border-radius: 4px;*/

  padding-bottom: 40px;

  width: 99.893617021277%;

}



#featured p {

  font-size: 18px;

  font-weight: 200;

  line-height: 27px;

  padding: 0 40px 0 40px;

  text-align: center;

}



#featured-image {

  margin: 40px 0 0 0;

}



#featured-image .fluid-width-video-wrapper {

  margin-left: -20px;

}



.featured-image img {

  margin-top: 44px;

}



/* =Post

-------------------------------------------------------------- */

.comments-link {

  font-size: 12px;

}



#cancel-comment-reply-link {

  color: #990000;

}



.post-data {

  clear: both;

  font-size: 12px;

  font-weight: 700;

  margin-top: 15px;

}



.post-data a {

  color: #134276;

}



.post-entry {

  clear: both;

  padding:0px 0px 0px 50px;

  font-size:13px;

}



.post-entry h2{

	text-align: justify;

line-height: 15.0px;

font-size:22px;
font-family: 'Alef';

color: #134276;

margin:0px;

padding:0px;

}



.post-entry h3{

	text-align: justify;

line-height: 15.0px;

font-size:18px;
font-family: 'Alef';

color: #134276;

margin:0px;

padding:0px;

}



.post-meta {

  clear: both;

  color: #9f9f9f;

  font-size: 12px;

  margin-bottom: 10px;

}



.post-edit {

  clear: both;

  display: block;

  font-size: 12px;

  margin: 1.5em 0;

}



.post-search-terms {

  clear: both;

}



.read-more {

  clear: both;

  font-weight: 700;

}



.attachment-entry {

  clear: both;

  text-align: center;

}



/* =bbPress

    bbPress has its own breadcrumb lists

-------------------------------------------------------------- */

.bbPress .breadcrumb-list {

  display: none;

}



/* =Symbols

-------------------------------------------------------------- */

.ellipsis {

  color: #aaaaaa;

  font-size: 18px;

  margin-left: 5px;

}



.form-allowed-tags {

  display: none;

  font-size: 10px;

}



/* =Widgets

-------------------------------------------------------------- */

.widget-wrapper {

/*  -webkit-border-radius: 4px;

  -moz-border-radius: 4px;

  background-color: #f9f9f9;

  border: 1px solid #e5e5e5;

  border-radius: 4px;

  margin: 0 0 20px;

  padding: 20px;*/

}



.widget-wrapper select,

.widget-wrapper input[type="text"],

.widget-wrapper input[type="password"],

.widget-wrapper  input[type="email"] {

  width: 75%;

}



#widgets {

  /*margin-top: 40px;*/

}



#widgets a {

  display: inline-block;

  margin: 0;

  padding: 0;

  text-decoration: none;

}



#widgets form {

  margin: 0;

}



#widgets ul,

#widgets ol {

  padding: 0 0 0 20px;

}



#widgets ul li a {

  display: inline;

  text-decoration: none;

  color:#FFF;

}



#widgets .widget-title img {

  float: right;

  height: 11px;

  position: relative;

  top: 4px;

  width: 11px;

}



#widgets .rss-date {

  line-height: 18px;

  padding: 6px 12px;

}



#widgets .rssSummary {

  padding: 10px;

}



#widgets cite {

  font-style: normal;

  line-height: 18px;

  padding: 6px 12px;

}



#widgets .tagcloud,

#widgets .textwidget {

  display: block;

  line-height: 1.5em;

  margin: 0;

  word-wrap: break-word;

}



#widgets .textwidget a {

  display: inline;

}



#widgets ul .children {

  padding: 0 0 0 10px;

}



#widgets .author {

  font-weight: 700;

  padding-top: 4px;

}



.widget_archive select, #cat {

  display: block;

  margin: 0 15px 0 0;

}



#colophon-widget ul {

}



.colophon-widget {

  background: none;

  min-height: 0;

}



.colophon-widget select,

.colophon-widget input[type="text"],

.colophon-widget input[type="password"],

.colophon-widget input[type="email"] {

  width: 100%;

}



#top-widget {

}



.top-widget {

  background: none;

  border: none;

  clear: right;

  float: right;

  min-height: 0;

  padding: 0 3px 0 0;

  text-align: right;

  width: 45%;

}



.top-widget ul {

  padding: 0;

}



.top-widget select,

.top-widget input[type="text"],

.top-widget input[type="password"],

.top-widget input[type="email"] {

  width: auto;

}



.top-widget #searchform {

  margin: 0;

}



/* =Titles

-------------------------------------------------------------- */

.home-saperator{

	background:url(core/images/sep.jpg) bottom no-repeat;

	height:13px;

	margin-bottom:10px;

}



.inn-left-container-line {

	width:100%;

	height:6px;

	background:url(core/images/inn-left-line.png) no-repeat top center;

	margin:10px 0px 15px 10px;

}



.clr{

	clear:both;

}



.home-widgets-first .title h3{
	font-family: 'Alef';
	font-size: 17px;
	line-height:24px;
	color: #fff;font-weight: normal;
	padding-bottom: 20px;
	margin:0px;
	text-align:center;
	text-transform:uppercase;
}

.home-widgets-first .hp-boxes-div-des .wp-post-image{

	margin:0px auto !important;

}

.home-widgets-first .hp-boxes-div-des {

	margin-bottom:15px;

}



.home-widgets-first .hometxt{

	font-size:13px;

	font-style:normal;

	text-align:justify;

}



.readmore{

	color: #fff;

	font-weight: bold;

	text-align: right;

	padding: 15px 0px;

}



.readmore a:link, .readmore a:visited{

	font-family: 'Alef';

font-size: 12px;

color: #FFFFFF;

font-weight:bold;

text-decoration:none;

}



.readmore a:hover{

	color:#000;

	text-decoration:underline !important;

}





.featured-title {

  font-size: 60px;

  letter-spacing: -1px;

  margin: 0;

  padding-top: 40px;

  text-align: center;

}



.featured-subtitle {

  padding: 0 10px;

  text-align: center;

}



.widget-title,

.widget-title-home h3 {

  display: block;

  font-size: 24px;

  font-weight: 700;

  line-height: 23px;

  margin: 0;

  padding: 0 0 20px 0;

  text-align: left;

}



.top-widget .widget-title {

  font-size: 14px;

  padding: 0;

  text-align: right;

}



.widget-title a {

  border-bottom: none;

  padding: 0 !important;

}



.title-404 {

  color: #993333;

}



/* =404 Page 

-------------------------------------------------------------- */

.error404 select,

.error404 input[type="text"],

.error404 input[type="password"],

.error404 input[type="email"] {

  width: auto;

}



/* =Top Menu

-------------------------------------------------------------- */

.top-menu {

  /*float: right;*/

  margin: 0px 0px 10px 0;

  padding: 0;

}



.top-menu li {

  display: inline;

  list-style-type: none;

  		color:#134276;

		font-family: 'Alef';

		font-size:16px;

		font-weight:bold;

}



.top-menu li a {

  border-left: 1px solid #134276;

  color: #134276;

  font-size: 16px;

  padding: 0 4px 0 8px;

}



.top-menu > li:first-child > a {

  border-left: none;

}



.top-menu li a:hover, .top-menu li.current-menu-item a {

  color: #D39B3E;

}



/* =Header Menu (Primary)

-------------------------------------------------------------- */

.menu {

  margin: 0 auto;

}



.main-nav {

  clear: both;

}



.menu,

.menu ul {

  display: block;

  list-style-type: none;

  margin: 0;

  padding: 0;

}



.menu li {

  border: 0;

  display: block;

  float: right;

  margin: 0;

  padding: 0;

  position: relative;

  z-index: 5;

}



.menu li:hover {

  white-space: normal;

  z-index: 10000;

}



.menu li li {

  float: none;

}



.menu ul {

  right: 0;

  position: absolute;

  top: 0;

  visibility: hidden;

  z-index: 10;

}



.menu li:hover > ul {

  top: 100%;

  visibility: visible;

}



.menu li li:hover > ul {

  right: 100%;

  top: 0;

}



.menu:after,

.menu ul:after {

  clear: both;

  content: '.';

  display: block;

  height: 0;

  overflow: hidden;

  visibility: hidden;

}



.menu,

.menu ul {

  min-height: 0;

}



.menu ul,

.menu ul ul {

  margin: 0;

  padding: 0;

}



.menu ul li a:hover,

.menu li li a:hover {

  color: #484848;

  text-decoration: none;

}



.menu ul {

	/*border-top: solid 4px transparent;*/

	background:url(core/images/lefts.png) repeat;

	-moz-border-bottom-left-radius: 20px;

	-webkit-border-bottom-left-radius: 20px;

	-khtml-border-bottom-left-radius: 20px;

	border-radius-bottom-left: 20px;

	

		-moz-border-bottom-right-radius: 20px;

	-webkit-border-bottom-right-radius: 20px;

	-khtml-border-bottom-right-radius: 20px;

	border-radius-bottom-right: 20px;

  min-width: 12em;

  width: auto;

  padding-bottom:10px;

  padding-top:5px;

}



.menu ul ul{

	background:url(core/images/lefts.png) repeat;

	-moz-border-top-left-radius: 20px;

	-webkit-border-top-left-radius: 20px;

	-khtml-border-top-left-radius: 20px;

	border-radius-top-left: 20px;

	

		-moz-border-bottom-left-radius: 20px;

	-webkit-border-bottom-left-radius: 20px;

	-khtml-border-bottom-left-radius: 20px;

	border-radius-bottom-left: 20px;



		-moz-border-bottom-right-radius: 0px;

	-webkit-border-bottom-right-radius: 0px;

	-khtml-border-bottom-right-radius: 0px;

	border-radius-bottom-right: 0px;

}



.sub-menu .menu-item-has-children >:after {

    content: '>';

	float:left;

	font-weight:bold;

}



.menu a {

 /* border-left: 1px solid #585858;*/

  color: #6c6c6c;

  cursor: pointer;

  display: block;

  font-size: 14px;

  font-weight: normal;

  margin: 0;

  padding: 6px 15px;

  position: relative;

  text-decoration: none;

}



.menu a:hover {

border-bottom:5px solid #e10a37;

	color:#e10a37 !important;

}



ul.menu > li:hover {

  /*background-color: #363636;*/

  color: #ffffff;

}



.menu > li:hover > a {

border-bottom:5px solid #e10a37;

	color:#e10a37 !important;

}



.menu .current_page_item a,

.menu .current-menu-item a {

border-bottom:5px solid #e10a37;

color:#e10a37;

}



.menu .current_page_item .sub-menu a, .menu .current-menu-item .sub-menu a{

	border:none;

	color:#000;

}



.front-page .menu .current_page_item a {

  background: none;

  background-color: transparent;

  background-image: none;

  filter: none;

}



.menu li li {

  background-image: none;

  color: #6C6C6C;

  filter: none;

  margin: 0;

  width: auto;

}



.menu li li a {

  background: transparent !important;

  border: none;

  color: #000;

  font-size: 12px;

  font-weight: 400;

  height: auto;

  padding: 5px 10px;

  text-shadow: none;

  white-space: nowrap;

}



.menu li li a:hover {

  border: none;

  color: #FFF;

  padding: 5px 10px;

  filter: none;

}



.menu li li:hover {

  filter: none;

}



.menu ul > li + li {

  border-top: 0;

}



.menu li li:hover > ul {

  left: 100%;

  top: 0;

}



.menu > li:first-child > a {

  border-left: none;

}



.menu a#responsive_menu_button {

  display: none;

}



.main-nav #responsive_current_menu_item {

  display: none;

}



/*.js .main-nav .menu {*/

  /*display: block;*/

/*}*/



/* =Primary Main Menu IE Fixes

-------------------------------------------------------------- */

.ie7 .menu ul {

  background: url(core/images/ie7-fix.gif) repeat;

}



.ie7 .menu li li a {

  min-width: 100%;

}



/* =Sub-Header Menu

-------------------------------------------------------------- */

.sub-header-menu {

  background-color: #ffffff;

  border: 1px solid #e5e5e5;

  border-top: none;

  clear: both;

  margin: 0 auto;

}



.sub-header-menu,

.sub-header-menu ul {

  display: block;

  list-style-type: none;

  margin: 0;

  padding: 0;

}



.sub-header-menu li {

  border: 0;

  display: block;

  float: left;

  margin: 0;

  padding: 0;

  position: relative;

  z-index: 5;

}



.sub-header-menu li:hover {

  white-space: normal;

  z-index: 10000;

}



.sub-header-menu li li {

  float: none;

}



.sub-header-menu ul {

  left: 0;

  position: absolute;

  top: 0;

  visibility: hidden;

  z-index: 10;

}



.sub-header-menu li:hover > ul {

  top: 100%;

  visibility: visible;

}



.sub-header-menu li li:hover > ul {

  left: 100%;

  top: 0;

}



.sub-header-menu:after,

.sub-header-menu ul:after {

  clear: both;

  content: '.';

  display: block;

  height: 0;

  overflow: hidden;

  visibility: hidden;

}



.sub-header-menu,

.sub-header-menu ul {

  min-height: 0;

}



.sub-header-menu ul,

.sub-header-menu ul ul {

  margin: 0;

  padding: 0;

}



.sub-header-menu ul li a:hover,

.sub-header-menu li li a:hover {

  color: #484848;

  text-decoration: none;

}



.sub-header-menu ul {

  margin-top: 1px;

  min-width: 15em;

  width: auto;

}



.sub-header-menu a {

  border-left: 1px solid #e5e5e5;

  color: #333333;

  cursor: pointer;

  display: block;

  font-size: 12px;

  font-weight: 400;

  height: 35px;

  line-height: 35px;

  margin: 0;

  padding: 0 0.9em;

  position: relative;

  text-decoration: none;

  text-shadow: none;

}



.sub-header-menu a:hover {

  -moz-background-clip: padding-box;

  -webkit-background-clip: padding-box;

  background-color: #f9f9f9;

  background-clip: padding-box;

}



.sub-header-menu .current_page_item a,

.sub-header-menu .current-menu-item a {

  background-color: #f9f9f9;

}



.sub-header-menu li li {

  background: #ffffff;

  background-image: none;

  border: 1px solid #e5e5e5;

  color: #444444;

  filter: none;

  margin: -1px 0 1px 0;

  width: auto;

}



.sub-header-menu li li a {

  border: none;

  color: #444444;

  font-size: 12px;

  font-weight: 400;

  height: auto;

  height: 20px;

  line-height: 20px;

  padding: 5px 10px;

  text-shadow: none;

}



.sub-header-menu li li a:hover {

  background: #f9f9f9;

  background-image: none;

  border: none;

  color: #444444;

  filter: none;

}



.sub-header-menu ul > li + li {

  border-top: 0;

}



.sub-header-menu li li:hover > ul {

  left: 100%;

  top: 0;

}



.sub-header-menu > li:first-child > a {

  border-left: none;

}



.sub-header-menu ul.children a,

.sub-header-menu .current_page_ancestor,

.sub-header-menu .current_page_ancestor ul a {

  background: none;

  background-image: none;

  filter: none;

}



/* =Sub Header Menu IE Fixes

-------------------------------------------------------------- */

.ie7 .sub-header-menu ul {

  background: url(core/images/ie7-fix.gif) repeat;

}



.ie7 .sub-header-menu li li a {

  min-width: 100%;

}



/* =Footer Menu

-------------------------------------------------------------- */

.footer-menu {

  margin-left: 0;

  padding: 0;

}



.footer-menu li {

  display: inline;

  list-style-type: none;

}



.footer-menu li a {

  color: #FFF;

  padding: 0 21px;

}



.footer-menu li a:hover {

  color:#d5d5d5;

}



.footer-menu > li:first-child > a {

  border-left: none;

  padding: 0 8px 0 0;

}



/* =Navigation

-------------------------------------------------------------- */

.navigation {

  color: #111111;

  display: block;

  font-size: 13px;

  height: 28px;

  line-height: 28px;

  margin: 20px 0;

  padding: 0 5px;

}



.navigation a {

	margin:25px 0 0 0;

	padding:5px 12px;

	background:#134276;

	color:#fff !important;

	text-decoration:none;

	-moz-border-radius: 12px;

	-khtml-border-radius: 12px;

	-webkit-border-radius: 12px;

	border-radius: 12px;

	text-transform:capitalize;

}



.navigation a:hover {

	background:#D39B3E;

	color:#fff !important;

	text-decoration:none;

}



.navigation .previous {

  float: left;

}



.navigation .next {

  float: right;

  

}



.navigation .bracket {

  font-size: 36px;

}



/* =Pagination (pages)

-------------------------------------------------------------- */

.pagination {

  clear: both;

  display: block;

  font-size: 16px;

  font-weight: 700;

  margin: 10px 0;

  padding: 5px 0;

}



.pagination a {

  text-decoration: none;

}



/* =Breadcrumb Lists

-------------------------------------------------------------- */

.breadcrumb-list {

  font-size: 12px;

}



/* =Comments

-------------------------------------------------------------- */

#commentform {

  margin: 0;

}



.commentlist {

  border-bottom: 1px solid #e5e5e5;

  list-style: none;

  margin: 0;

  padding: 0;

}



.commentlist ol {

  list-style: decimal;

}



.commentlist li {

  -webkit-border-radius: 4px;

  -moz-border-radius: 4px;

  background-color: #ffffff;

  border-radius: 4px;

  margin: 0;

}



.commentlist .bypostauthor {

}



.commentlist li cite {

  color: #111111;

  font-size: 1.1em;

  font-style: normal;

  font-weight: 400;

}



.commentlist li.alt {

  background: #f9f9f9;

}



.commentlist .children {

  list-style: none;

  margin-left: 10px;

  padding: 10px;

}



.commentlist .avatar {

  -webkit-border-radius: 2px;

  -moz-border-radius: 2px;

  border-radius: 2px;

  float: left;

  margin-right: 10px;

  padding: 0;

  vertical-align: middle;

}



.comment-author .fn {

}



.comment-author .says {

  color: #999999;

}



.comment-body .comment-meta {

  color: #999999;

  display: inline-block;

  margin: 0;

  padding: 0;

  text-align: left;

}



.comment-body .comment-meta a {

  font-size: 11px;

}



.comment-body {

  clear: both;

  padding: 10px;

}



.comment-body p {

  clear: both;

}



.comment-body .reply {

}



.pingback, .trackback {

  list-style: none;

  margin: 20px 0;

}



.pingback cite,

.trackback cite {

  font-style: normal;

}



#pings,

#comments {

  text-align: left;

}



#respond {

  -moz-border-radius: 4px;

  -webkit-border-radius: 4px;

  background-color: #eaeaea;

  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#eaeaea));

  background-image: -webkit-linear-gradient(top, #ffffff, #eaeaea);

  background-image: -moz-linear-gradient(top, #ffffff, #eaeaea);

  background-image: -ms-linear-gradient(top, #ffffff, #eaeaea);

  background-image: -o-linear-gradient(top, #ffffff, #eaeaea);

  background-image: linear-gradient(top, #ffffff, #eaeaea);

  border: 1px solid #cccccc;

  border-bottom-color: #aaaaaa;

  border-radius: 4px;

  clear: both;

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#eaeaea);

  margin-top: 15px;

  padding: 10px 20px 50px;

  margin: 0px 0px 0px 50px;

}



#respond label {

  display: inline;

}



.reply {

  margin: 10px 0;

}



.comment-form-url input,

.comment-form-email input,

.comment-form-author input,

.comment-form-comment textarea {

  display: block;

}



.nocomments {

  color: #999999;

  font-size: .9em;

  text-align: center;

}



/* =WordPress Core

-------------------------------------------------------------- */

.alignnone {

  margin: 5px 20px 20px 0;

}



.aligncenter,

div.aligncenter {

  display: block;

  margin: 5px auto 20px auto;

}



.alignright {

  float: right;

  margin: 5px 0 20px 20px;

}



.alignleft {

  float: left;

  margin: 5px 20px 20px 0;

}



.aligncenter {

  display: block;

  margin: 5px auto;

}



a img.alignright {

  float: right;

  margin: 5px 0 20px 0px;

}



a img.alignnone {

  margin: 5px 0px 20px 0;

}



a img.alignleft {

  float: left;

  margin: 5px 0px 20px 0;

}



a img.aligncenter {

  display: block;

  margin-left: auto;

  margin-right: auto;

}



.wp-caption {

  background: #f9f9f9;

  border: 1px solid #f0f0f0;

  max-width: 96%;

  padding: 13px 10px 10px 10px;

  text-align: center;

}



.wp-caption.alignnone {

  margin: 5px 20px 20px 0;

}



.wp-caption.alignleft {

  margin: 5px 20px 20px 0;

}



.wp-caption.alignright {

  margin: 5px 0 20px 20px;

}



.wp-caption img {

  border: 0 none;

  height: auto;

  margin: 0;

  max-width: 98.5%;

  padding: 0;

  width: auto;

}



.wp-caption p.wp-caption-text {

  font-size: 12px;

  line-height: 1.5em;

  margin: 0;

  padding: 10px;

}



img.wp-smiley {

  vertical-align: middle;

}



/* =WordPress Gallery

-------------------------------------------------------------- */

.gallery {

  margin: 0 auto 18px;

}



.gallery .gallery-item {

  float: left;

  margin-top: 0;

  text-align: center;

  max-width: 155px;

}



.gallery img {

  border: 1px solid #dddddd;

}



.gallery .gallery-caption {

  font-size: 12px;

  margin: 0 0 12px;

}



.gallery dl {

  margin: 0;

}



.gallery br+br {

  display: none;

}



.attachment-gallery img {

  background: #ffffff;

  border: 1px solid #f0f0f0;

  display: block;

  height: auto;

  margin: 15px auto;

  max-width: 96%;

  padding: 5px;

  width: auto;

}



.gallery-meta .iso,

.gallery-meta .camera,

.gallery-meta .shutter,

.gallery-meta .aperture,

.gallery-meta .full-size,

.gallery-meta .focal-length {

  display: block;

}



/* =Post Thumbnails 

-------------------------------------------------------------- */

img.wp-post-image { 
  display: block;

  margin: 15px auto;

  width: 100%;
}

img.attachment-full,

img.attachment-large,

img.attachment-medium,

img.attachment-thumbnail {

  display: block;

  margin: 15px auto;

  width: auto;

}



/* =Buttons

-------------------------------------------------------------- */

a.button,

input[type='reset'],

input[type='button'],

input[type='submit'] {

  -moz-border-radius: 3px;

  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset 0 1px 1px ;

  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset 0 1px 1px ;

  -webkit-border-radius: 3px;

  background-color: #F6F4F5; /* Alabaster */

  background-image: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#f1f1f1));

  background-image: -webkit-linear-gradient(top, #f9f9f9, #f1f1f1);

  background-image: -moz-linear-gradient(top, #f9f9f9, #f1f1f1);

  background-image: -ms-linear-gradient(top, #f9f9f9, #f1f1f1);

  background-image: -o-linear-gradient(top, #f9f9f9, #f1f1f1);

  background-image: linear-gradient(top, #f9f9f9, #f1f1f1);

  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset;

  border: 1px solid #dddddd;

  border-radius: 3px;

  -webkit-box-shadow: 0 1px 0 #ffffff, inset 0 1px 1px rgba(0, 0, 0, 0.2);

  -moz-box-shadow: 0 1px 0 #ffffff, inset 0 1px 1px rgba(0, 0, 0, 0.2);

  box-shadow: 0 1px 0 #ffffff, inset 0 1px 1px rgba(0, 0, 0, 0.2);

  color: #e10a37;

  cursor: pointer;

  display: inline-block;

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f9f9f9, endColorstr=#f1f1f1);

  font-size: 14px;

  font-weight: 700;

  line-height: 20px;

  margin: 0;

  padding: 4px 10px;

  text-decoration: none;

  text-shadow: 0 1px 0 #ffffff;

  vertical-align: middle;

  white-space: nowrap;

}



a.button:hover,

input[type='reset']:hover,

input[type='button']:hover,

input[type='submit']:hover {

  background-color: #ffffff;

  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f1f1f1));

  background-image: -webkit-linear-gradient(top, #ffffff, #f1f1f1);

  background-image: -moz-linear-gradient(top, #ffffff, #f1f1f1);

  background-image: -ms-linear-gradient(top, #ffffff, #f1f1f1);

  background-image: -o-linear-gradient(top, #ffffff, #f1f1f1);

  background-image: linear-gradient(top, #ffffff, #f1f1f1);

  border: 1px solid #dddddd;

    -webkit-box-shadow: 0 1px 0 #ffffff, inset 0 1px 1px rgba(0, 0, 0, 0.2);

  -moz-box-shadow: 0 1px 0 #ffffff, inset 0 1px 1px rgba(0, 0, 0, 0.2);

  box-shadow: 0 1px 0 #ffffff, inset 0 1px 1px rgba(0, 0, 0, 0.2);

  color: #333333;

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#f1f1f1);

}



a.button:active,

input[type='reset']:active,

input[type='button']:active,

input[type='submit']:active {

  -moz-box-shadow: 0 1px 0 #ffffff, inset 0 1px 1px rgba(0, 0, 0, 0.1);

  -webkit-box-shadow: 0 1px 0 #ffffff, inset 0 1px 1px rgba(0, 0, 0, 0.1);

  background-color: #f9f9f9;

  background-image: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#f1f1f1));

  background-image: -webkit-linear-gradient(top, #f9f9f9, #f1f1f1);

  background-image: -moz-linear-gradient(top, #f9f9f9, #f1f1f1);

  background-image: -ms-linear-gradient(top, #f9f9f9, #f1f1f1);

  background-image: -o-linear-gradient(top, #f9f9f9, #f1f1f1);

  background-image: linear-gradient(top, #f9f9f9, #f1f1f1);

  box-shadow: 0 1px 0 #ffffff, inset 0 1px 1px rgba(0, 0, 0, 0.1);

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f9f9f9, endColorstr=#f1f1f1);

}



/* =Buttons (Call to Action)

-------------------------------------------------------------- */

.call-to-action {

  text-align: center;

}



.call-to-action a.button {

  font-size: 24px;

  padding: 15px 35px;

}



.call-to-action a.button:hover {

  text-decoration: none;

}



.ie7 .call-to-action a.button {

  padding: 11px 35px 19px 35px;

}



/* =Buttons (Sizes)

-------------------------------------------------------------- */

.small a.button {

  font-size: 10px;

  padding: 3px 6px;

}



.medium a.button {

  font-size: 16px;

  padding: 8px 16px;

}



.large a.button {

  font-size: 18px;

  padding: 10px 35px;

}



.xlarge a.button {

  font-size: 24px;

  padding: 12px 55px;

}



/* =Buttons (Colors)

-------------------------------------------------------------- */

a.blue {

  background-color: #1874cd; /* Dodger Blue */

  background-image: -webkit-gradient(linear, left top, left bottom, from(#4f9eea), to(#1874cd));

  background-image: -webkit-linear-gradient(top, #4f9eea, #1874cd);

  background-image: -moz-linear-gradient(top, #4f9eea, #1874cd);

  background-image: -ms-linear-gradient(top, #4f9eea, #1874cd);

  background-image: -o-linear-gradient(top, #4f9eea, #1874cd);

  background-image: linear-gradient(top, #4f9eea, #1874cd);

  border: 1px solid #115290;

  color: #ffffff;

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4f9eea, endColorstr=#1874cd);

  text-shadow: 0 -1px 0 #115290;

}



a.blue:hover {

  background-color: #7db7f0;

  background-image: -webkit-gradient(linear, left top, left bottom, from(#7db7f0), to(#1874cd));

  background-image: -webkit-linear-gradient(top, #7db7f0, #1874cd);

  background-image: -moz-linear-gradient(top, #7db7f0, #1874cd);

  background-image: -ms-linear-gradient(top, #7db7f0, #1874cd);

  background-image: -o-linear-gradient(top, #7db7f0, #1874cd);

  background-image: linear-gradient(top, #7db7f0, #1874cd);

  border: 1px solid #115290;

  color: #ffffff;

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7db7f0, endColorstr=#1874cd);

  text-shadow: 0 -1px 0 #115290;

}



a.red {

  background-color: #cd0000; /* Red 4 */

  background-image: -webkit-gradient(linear, left top, left bottom, from(#ff2323), to(#cd0000));

  background-image: -webkit-linear-gradient(top, #ff2323, #cd0000);

  background-image: -moz-linear-gradient(top, #ff2323, #cd0000);

  background-image: -ms-linear-gradient(top, #ff2323, #cd0000);

  background-image: -o-linear-gradient(top, #ff2323, #cd0000);

  background-image: linear-gradient(top, #ff2323, #cd0000);

  border: 1px solid #890000;

  color: #ffffff;

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff2323, endColorstr=#cd0000);

  text-shadow: 0 -1px 0 #890000;

}



a.red:hover {

  background-color: #ff5656;

  background-image: -webkit-gradient(linear, left top, left bottom, from(#ff5656), to(#cd0000));

  background-image: -webkit-linear-gradient(top, #ff5656, #cd0000);

  background-image: -moz-linear-gradient(top, #ff5656, #cd0000);

  background-image: -ms-linear-gradient(top, #ff5656, #cd0000);

  background-image: -o-linear-gradient(top, #ff5656, #cd0000);

  background-image: linear-gradient(top, #ff5656, #cd0000);

  border: 1px solid #890000;

  color: #ffffff;

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff5656, endColorstr=#cd0000);

  text-shadow: 0 -1px 0 #890000;

}



a.orange {

  background-color: #ff7f00; /* Dark Orange 1 */

  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffaa55), to(#ff7f00));

  background-image: -webkit-linear-gradient(top, #ffaa55, #ff7f00);

  background-image: -moz-linear-gradient(top, #ffaa55, #ff7f00);

  background-image: -ms-linear-gradient(top, #ffaa55, #ff7f00);

  background-image: -o-linear-gradient(top, #ffaa55, #ff7f00);

  background-image: linear-gradient(top, #ffaa55, #ff7f00);

  border: 1px solid #bb5d00;

  color: #ffffff;

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffaa55, endColorstr=#ff7f00);

  text-shadow: 0 -1px 0 #bb5d00;

}



a.orange:hover {

  background-color: #ffc388;

  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffc388), to(#ff7f00));

  background-image: -webkit-linear-gradient(top, #ffc388, #ff7f00);

  background-image: -moz-linear-gradient(top, #ffc388, #ff7f00);

  background-image: -ms-linear-gradient(top, #ffc388, #ff7f00);

  background-image: -o-linear-gradient(top, #ffc388, #ff7f00);

  background-image: linear-gradient(top, #ffc388, #ff7f00);

  border: 1px solid #bb5d00;

  color: #ffffff;

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffc388, endColorstr=#ff7f00);

  text-shadow: 0 -1px 0 #bb5d00;

}



a.yellow {

  background-color: #ecca06; /* Yellow Gold */

  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff2aa), to(#ffd700));

  background-image: -webkit-linear-gradient(top, #fff2aa, #ffd700);

  background-image: -moz-linear-gradient(top, #fff2aa, #ffd700);

  background-image: -ms-linear-gradient(top, #fff2aa, #ffd700);

  background-image: -o-linear-gradient(top, #fff2aa, #ffd700);

  background-image: linear-gradient(top, #fff2aa, #ffd700);

  border: 1px solid #bb9e00;

  color: #161300;

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#fff2aa, endColorstr=#ffd700);

  text-shadow: 0 1px 0 #ffffff;

}



a.yellow:hover {

  background-color: #fffadd;

  background-image: -webkit-gradient(linear, left top, left bottom, from(#fffadd), to(#ffd700));

  background-image: -webkit-linear-gradient(top, #fffadd, #ffd700);

  background-image: -moz-linear-gradient(top, #fffadd, #ffd700);

  background-image: -ms-linear-gradient(top, #fffadd, #ffd700);

  background-image: -o-linear-gradient(top, #fffadd, #ffd700);

  background-image: linear-gradient(top, #fffadd, #ffd700);

  border: 1px solid #bb9e00;

  color: #161300;

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#fffadd, endColorstr=#ffd700);

  text-shadow: 0 1px 0 #ffffff;

}



a.green {

  background-color: #2e8b57; /* Sea Green 4 */

  background-image: -webkit-gradient(linear, left top, left bottom, from(#4bc380), to(#2e8b57));

  background-image: -webkit-linear-gradient(top, #4bc380, #2e8b57);

  background-image: -moz-linear-gradient(top, #4bc380, #2e8b57);

  background-image: -ms-linear-gradient(top, #4bc380, #2e8b57);

  background-image: -o-linear-gradient(top, #4bc380, #2e8b57);

  background-image: linear-gradient(top, #4bc380, #2e8b57);

  border: 1px solid #1d5837;

  color: #ffffff;

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4bc380, endColorstr=#2e8b57);

  text-shadow: 0 -1px 0 #1d5837;

}



a.green:hover {

  background-color: #71d09b;

  background-image: -webkit-gradient(linear, left top, left bottom, from(#71d09b), to(#2e8b57));

  background-image: -webkit-linear-gradient(top, #71d09b, #2e8b57);

  background-image: -moz-linear-gradient(top, #71d09b, #2e8b57);

  background-image: -ms-linear-gradient(top, #71d09b, #2e8b57);

  background-image: -o-linear-gradient(top, #71d09b, #2e8b57);

  background-image: linear-gradient(top, #71d09b, #2e8b57);

  border: 1px solid #1d5837;

  color: #ffffff;

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#71d09b, endColorstr=#2e8b57);

  text-shadow: 0 -1px 0 #1d5837;

}



a.olive {

  background-color: #838b83; /* Honey Dew 4 */

  background-image: -webkit-gradient(linear, left top, left bottom, from(#e0e000), to(#838b83));

  background-image: -webkit-linear-gradient(top, #afb4af, #838b83);

  background-image: -moz-linear-gradient(top, #afb4af, #838b83);

  background-image: -ms-linear-gradient(top, #afb4af, #838b83);

  background-image: -o-linear-gradient(top, #afb4af, #838b83);

  background-image: linear-gradient(top, #afb4af, #838b83);

  border: 1px solid #626862;

  color: #ffffff;

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#afb4af, endColorstr=#838b83);

  text-shadow: 0 -1px 0 #626862;

}



a.olive:hover {

  background-color: #c9cdc9;

  background-image: -webkit-gradient(linear, left top, left bottom, from(#c9cdc9), to(#838b83));

  background-image: -webkit-linear-gradient(top, #c9cdc9, #838b83);

  background-image: -moz-linear-gradient(top, #c9cdc9, #838b83);

  background-image: -ms-linear-gradient(top, #c9cdc9, #838b83);

  background-image: -o-linear-gradient(top, #c9cdc9, #838b83);

  background-image: linear-gradient(top, #c9cdc9, #838b83);

  border: 1px solid #626862;

  color: #ffffff;

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#c9cdc9, endColorstr=#838b83);

  text-shadow: 0 -1px 0 #626862;

}



a.purple {

  background-color: #5d478b; /* Medium Purple 4 */

  background-image: -webkit-gradient(linear, left top, left bottom, from(#8771b6), to(#5d478b));

  background-image: -webkit-linear-gradient(top, #8771b6, #5d478b);

  background-image: -moz-linear-gradient(top, #8771b6, #5d478b);

  background-image: -ms-linear-gradient(top, #8771b6, #5d478b);

  background-image: -o-linear-gradient(top, #8771b6, #5d478b);

  background-image: linear-gradient(top, #8771b6, #5d478b);

  border: 1px solid #3f305e;

  color: #ffffff;

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#8771b6, endColorstr=#5d478b);

  text-shadow: 0 -1px 0 #3f305e;

}



a.purple:hover {

  background-color: #a492c8;

  background-image: -webkit-gradient(linear, left top, left bottom, from(#a492c8), to(#5d478b));

  background-image: -webkit-linear-gradient(top, #a492c8, #5d478b);

  background-image: -moz-linear-gradient(top, #a492c8, #5d478b);

  background-image: -ms-linear-gradient(top, #a492c8, #5d478b);

  background-image: -o-linear-gradient(top, #a492c8, #5d478b);

  background-image: linear-gradient(top, #a492c8, #5d478b);

  border: 1px solid #3f305e;

  color: #ffffff;

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#a492c8, endColorstr=#5d478b);

  text-shadow: 0 -1px 0 #3f305e;

}



a.pink {

  background-color: #cd1076; /* Deep Pink 3 */

  background-image: -webkit-gradient(linear, left top, left bottom, from(#f042a0), to(#cd1076));

  background-image: -webkit-linear-gradient(top, #f042a0, #cd1076);

  background-image: -moz-linear-gradient(top, #f042a0, #cd1076);

  background-image: -ms-linear-gradient(top, #f042a0, #cd1076);

  background-image: -o-linear-gradient(top, #f042a0, #cd1076);

  background-image: linear-gradient(top, #f042a0, #cd1076);

  border: 1px solid #8e0b52;

  color: #ffffff;

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f042a0, endColorstr=#cd1076);

  text-shadow: 0 -1px 0 #8e0b52;

}



a.pink:hover {

  background-color: #f471b8;

  background-image: -webkit-gradient(linear, left top, left bottom, from(#f471b8), to(#cd1076));

  background-image: -webkit-linear-gradient(top, #f471b8, #cd1076);

  background-image: -moz-linear-gradient(top, #f471b8, #cd1076);

  background-image: -ms-linear-gradient(top, #f471b8, #cd1076);

  background-image: -o-linear-gradient(top, #f471b8, #cd1076);

  background-image: linear-gradient(top, #f471b8, #cd1076);

  border: 1px solid #8e0b52;

  color: #ffffff;

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f471b8, endColorstr=#cd1076);

  text-shadow: 0 -1px 0 #8e0b52;

}



a.brick {

  background-color: #b22222; /* Fire Brick */

  background-image: -webkit-gradient(linear, left top, left bottom, from(#dd4c4c), to(#b22222));

  background-image: -webkit-linear-gradient(top, #dd4c4c, #b22222);

  background-image: -moz-linear-gradient(top, #dd4c4c, #b22222);

  background-image: -ms-linear-gradient(top, #dd4c4c, #b22222);

  background-image: -o-linear-gradient(top, #dd4c4c, #b22222);

  background-image: linear-gradient(top, #dd4c4c, #b22222);

  border: 1px solid #791717;

  color: #ffffff;

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#dd4c4c, endColorstr=#b22222);

  text-shadow: 0 -1px 0 #791717;

}



a.brick:hover {

  background-color: #e57777;

  background-image: -webkit-gradient(linear, left top, left bottom, from(#e57777), to(#b22222));

  background-image: -webkit-linear-gradient(top, #e57777, #b22222);

  background-image: -moz-linear-gradient(top, #e57777, #b22222);

  background-image: -ms-linear-gradient(top, #e57777, #b22222);

  background-image: -o-linear-gradient(top, #e57777, #b22222);

  background-image: linear-gradient(top, #e57777, #b22222);

  border: 1px solid #791717;

  color: #ffffff;

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#e57777, endColorstr=#b22222);

  text-shadow: 0 -1px 0 #791717;

}



a.gold {

  background-color: #8b6508; /* Dark Golden Rod 4 */

  background-image: -webkit-gradient(linear, left top, left bottom, from(#db9f0d), to(#8b6508));

  background-image: -webkit-linear-gradient(top, #db9f0d, #8b6508);

  background-image: -moz-linear-gradient(top, #db9f0d, #8b6508);

  background-image: -ms-linear-gradient(top, #db9f0d, #8b6508);

  background-image: -o-linear-gradient(top, #db9f0d, #8b6508);

  background-image: linear-gradient(top, #db9f0d, #8b6508);

  border: 1px solid #6b4e06;

  color: #ffffff;

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#db9f0d, endColorstr=#8b6508);

  text-shadow: 0 -1px 0 #6b4e06;

}



a.gold:hover {

  background-color: #f3b828;

  background-image: -webkit-gradient(linear, left top, left bottom, from(#f3b828), to(#8b6508));

  background-image: -webkit-linear-gradient(top, #f3b828, #8b6508);

  background-image: -moz-linear-gradient(top, #f3b828, #8b6508);

  background-image: -ms-linear-gradient(top, #f3b828, #8b6508);

  background-image: -o-linear-gradient(top, #f3b828, #8b6508);

  background-image: linear-gradient(top, #f3b828, #8b6508);

  border: 1px solid #6b4e06;

  color: #ffffff;

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f3b828, endColorstr=#8b6508);

  text-shadow: 0 -1px 0 #6b4e06;

}



a.brown {

  background-color: #8b4513; /* Saddle Brown */

  background-image: -webkit-gradient(linear, left top, left bottom, from(#d66a1d), to(#8b4513));

  background-image: -webkit-linear-gradient(top, #d66a1d, #8b4513);

  background-image: -moz-linear-gradient(top, #d66a1d, #8b4513);

  background-image: -ms-linear-gradient(top, #d66a1d, #8b4513);

  background-image: -o-linear-gradient(top, #d66a1d, #8b4513);

  background-image: linear-gradient(top, #d66a1d, #8b4513);

  border: 1px solid #4f270b;

  color: #ffffff;

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#d66a1d, endColorstr=#8b4513);

  text-shadow: 0 -1px 0 #4f270b;

}



a.brown:hover {

  background-color: #8b4513;

  background-image: -webkit-gradient(linear, left top, left bottom, from(#e58541), to(#8b4513));

  background-image: -webkit-linear-gradient(top, #e58541, #8b4513);

  background-image: -moz-linear-gradient(top, #e58541, #8b4513);

  background-image: -ms-linear-gradient(top, #e58541, #8b4513);

  background-image: -o-linear-gradient(top, #e58541, #8b4513);

  background-image: linear-gradient(top, #e58541, #8b4513);

  border: 1px solid #4f270b;

  color: #ffffff;

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#e58541, endColorstr=#8b4513);

  text-shadow: 0 -1px 0 #4f270b;

}



a.silver {

  background-color: #c0c0c0; /* Silver */

  background-image: -webkit-gradient(linear, left top, left bottom, from(#eaeaea), to(#c0c0c0));

  background-image: -webkit-linear-gradient(top, #eaeaea, #c0c0c0);

  background-image: -moz-linear-gradient(top, #eaeaea, #c0c0c0);

  background-image: -ms-linear-gradient(top, #eaeaea, #c0c0c0);

  background-image: -o-linear-gradient(top, #eaeaea, #c0c0c0);

  background-image: linear-gradient(top, #eaeaea, #c0c0c0);

  border: 1px solid #9e9e9e;

  color: #444444;

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#eaeaea, endColorstr=#c0c0c0);

  text-shadow: 0 1px 0 #ffffff;

}



a.silver:hover {

  background-color: #ffffff;

  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#c0c0c0));

  background-image: -webkit-linear-gradient(top, #ffffff, #c0c0c0);

  background-image: -moz-linear-gradient(top, #ffffff, #c0c0c0);

  background-image: -ms-linear-gradient(top, #ffffff, #c0c0c0);

  background-image: -o-linear-gradient(top, #ffffff, #c0c0c0);

  background-image: linear-gradient(top, #ffffff, #c0c0c0);

  border: 1px solid #9e9e9e;

  color: #444444;

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#c0c0c0);

  text-shadow: 0 1px 0 #ffffff;

}



a.gray {

  background-color: #696969; /* Dim Gray */

  background-image: -webkit-gradient(linear, left top, left bottom, from(#939393), to(#696969));

  background-image: -webkit-linear-gradient(top, #939393, #696969);

  background-image: -moz-linear-gradient(top, #939393, #696969);

  background-image: -ms-linear-gradient(top, #939393, #696969);

  background-image: -o-linear-gradient(top, #939393, #696969);

  background-image: linear-gradient(top, #939393, #696969);

  border: 1px solid #474747;

  color: #ffffff;

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#939393, endColorstr=#696969);

  text-shadow: 0 -1px 0 #474747;

}



a.gray:hover {

  background-color: #adadad;

  background-image: -webkit-gradient(linear, left top, left bottom, from(#adadad), to(#696969));

  background-image: -webkit-linear-gradient(top, #adadad, #696969);

  background-image: -moz-linear-gradient(top, #adadad, #696969);

  background-image: -ms-linear-gradient(top, #adadad, #696969);

  background-image: -o-linear-gradient(top, #adadad, #696969);

  background-image: linear-gradient(top, #adadad, #696969);

  border: 1px solid #474747;

  color: #ffffff;

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#adadad, endColorstr=#696969);

  text-shadow: 0 -1px 0 #474747;

}



a.black {

  background-color: #080808; /* Black */

  background-image: -webkit-gradient(linear, left top, left bottom, from(#323232), to(#080808));

  background-image: -webkit-linear-gradient(top, #323232, #080808);

  background-image: -moz-linear-gradient(top, #323232, #080808);

  background-image: -ms-linear-gradient(top, #323232, #080808);

  background-image: -o-linear-gradient(top, #323232, #080808);

  background-image: linear-gradient(top, #323232, #080808);

  border: 1px solid #000000;

  color: #ffffff;

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#323232, endColorstr=#080808);

  text-shadow: 0 -1px 0 #000000;

}



a.black:hover {

  background-color: #4c4c4c;

  background-image: -webkit-gradient(linear, left top, left bottom, from(#4c4c4c), to(#080808));

  background-image: -webkit-linear-gradient(top, #4c4c4c, #080808);

  background-image: -moz-linear-gradient(top, #4c4c4c, #080808);

  background-image: -ms-linear-gradient(top, #4c4c4c, #080808);

  background-image: -o-linear-gradient(top, #4c4c4c, #080808);

  background-image: linear-gradient(top, #4c4c4c, #080808);

  border: 1px solid #000000;

  color: #ffffff;

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4c4c4c, endColorstr=#080808);

  text-shadow: 0 -1px 0 #000000;

}



/* =Info Boxes

-------------------------------------------------------------- */

.info-box {

  -moz-border-radius: 4px;

  -webkit-border-radius: 4px;

  border-radius: 4px;

  display: block;

  margin: 20px 0;

  padding: 15px;

  text-align: left;

}



.alert {

  background-color: #faebeb;

  border: 1px solid #dc7070;

  color: #212121;

}



.address {

  background-color: #f6f5ef;

  border: 1px solid #cdc9a5;

  color: #212121;

}



.notice {

  background-color: #fbf9e9;

  border: 1px solid #e3cf57;

  color: #212121;

}



.success {

  background-color: #f9fde8;

  border: 1px solid #a2bc13;

  color: #212121;

}



.download {

  background-color: #fff4e5;

  border: 1px solid #ff9912;

  color: #212121;

}



.information {

  background-color: #eef3f6;

  border: 1px solid #6ca6cd;

  color: #212121;

}



.required {

  color: #d5243f;

}



/* =WooCommerce

-------------------------------------------------------------- */

#breadcrumb {

  padding: 40px 0 0 0;

}



#breadcrumb a {

  color: #e10a37;

  font-size: 12px;

  font-weight: 400;

}



#breadcrumb a:hover {

  color: #444444;

  text-decoration: none;

}



#content-woocommerce {

  margin-top: 40px;

  margin-bottom: 20px;

}



.products ul, ul.products {

  margin-top: 40px;

}



.cart-collaterals .shipping_calculator {

  width: 100%;

}



table.shop_table {

}



table.cart td.actions .coupon .input-text,

table.cart td.actions .coupon .input-text {

  cursor: text;

}



/* =WPML

-------------------------------------------------------------- */

.icl_languages_selector {

  float: right;

  text-align: left

}



.rtl .icl_languages_selector {

  float: left;

  text-align: right

}



@media screen and (max-width: 650px) {

  .icl_languages_selector,

  .rtl .icl_languages_selector {

    float: none;

  }

}



/* =Polylang

-------------------------------------------------------------- */

.widget_polylang li {

  display: inline;

  list-style-type: none;

}



/* =Footer

-------------------------------------------------------------- */

#footer {

  font-size: 11px;

  line-height:30px;

}



#footer a {

	font-size:14px;

	color:#fff;

}



#footer a:hover {

  color:#d5d5d5;

  text-decoration:none;

}



#footer-wrapper .grid.col-940 {

  margin: 0;

}



.scroll-top {

  text-align: center;

}



.copyright {

  text-align: left;

}



.powered {

  text-align: right;

}



/* =Social Icons

-------------------------------------------------------------- */

#footer .social-icons {

  list-style: none;

  line-height: normal;

  padding: 0;

  margin: 0;

  text-align: right;

}



#footer .yelp-icon,

#footer .vimeo-icon,

#footer .youtube-icon,

#footer .twitter-icon,

#footer .facebook-icon,

#footer .linkedin-icon,

#footer .rss-feed-icon,

#footer .instagram-icon,

#footer .pinterest-icon,

#footer .foursquare-icon,

#footer .google-plus-icon,

#footer .stumble-upon-icon {

  display: inline;

  margin: 1px;

  padding-left: 3px;

}



/* =Alignments Extras

-------------------------------------------------------------- */

.left {

  float: left;

}



.right {

  float: right;

}



.center {

  text-align: center;

}



/* =Clearfix

-------------------------------------------------------------- */

.clearfix:after,

.clearfix:before,

#container:after,

#container:before,

.widget-wrapper:after,

.widget-wrapper:before {

  content: ' ';

  display: table;

}



.clearfix:after,

#container:after,

.widget-wrapper:after {

  clear: both;

}



.ie7 .clearfix,

.ie7 #container,

.ie7 .widget-wrapper {

  zoom: 1;

}



.clear {

  clear: both;

}



/* =Begin bidirectionality settings (do not change)

-------------------------------------------------------------- */

BDO[DIR="ltr"] {

  direction: ltr;

  unicode-bidi: bidi-override;

}



BDO[DIR="rtl"] {

  direction: rtl;

  unicode-bidi: bidi-override;

}



[DIR="ltr"] {

  direction: ltr;

  unicode-bidi: embed;

}



[DIR="rtl"] {

  direction: rtl;

  unicode-bidi: embed;

}



/* =Media Print

    If you're working on a Child Theme, make sure that all

	media queries are included in your style.css

-------------------------------------------------------------- */

@media print {



  h1, h2, h3, h4, h5, h6 {

    page-break-after: avoid;

  }



  ul, ol, dl {

    page-break-before: avoid;

  }

}



/*	Retina (HiDPI) Display

    http://www.quirksmode.org/blog/archives/2012/06/devicepixelrati.html

-------------------------------------------------------------- */

@media only screen and (-moz-min-device-pixel-ratio:1.5), only screen and (-o-min-device-pixel-ratio:3/2), only screen and (-webkit-min-device-pixel-ratio:1.5), only screen and (min-device-pixel-ratio:1.5) {



  body {

  }

}



/*The last 29 days of the month are the hardest."- Nikola Tesla*/

.homecontent{

padding:15px 15px 5px 15px;

background-color: #10477E;

border: #10477E 2px solid;

border-radius: 10px;

-webkit-border-radius: 10px;

margin: 0 auto;

margin-bottom: 20px;

color:#D39B3E;

border:0px;

}



td.homencontentleft{

	border-right: 1px solid #FFF;

	border-bottom:0px;

	border-top:0px;

	border-left:0px;

	margin-top:15px;

}



td.homencontentleftlast{

	border:0px;

}



.homencontentleft{

	width:22.5%;

	display:inline;

	float: left;

}



.homencontentleft h2{

	color:#D39B3E;

	margin:0px;

	padding:0px 0px 10px 0px;

	font-size:18px;

}



.contentleft{

	text-align:center;

	display:block;

}



.contentleft h2, .contentright h2{

	font-size:17px;

	color:#FFF;

	font-weight:normal;

	line-height:24px;

	text-transform:uppercase;

}



.contentright{

	text-align:center;

	display:block;

}



.contentleft .contehomebottom{

	padding:0px 10px;

}



.contentright .contehomebottom{

	padding:0px 0px 0px 10px;

}





.ptag{

	padding:10px 15px;

	font-style:italic;

	margin:0px;

	font-size:13px;

}



.homebuttomtxt{

	font-size:13px;

	font-weight:normal;

	color:#FFF;

	line-height:18px;

	padding:0px 0px;

	text-align:justify;

}



.contentleft img, .contentright img{

	width:275px !important;

}



.homesocial{

	/*text-align:right;*/

	float:right;

	margin:0px auto;

}



.homesocial a{

	padding-left:10px;

}



.sidebarbg{

		background-color:#10477e !important;

		border-radius:13px;

		-webkit-border-radius:13px;

		-moz-border-radius:13px;

		margin-bottom:10px

}



.topclass{

	border-bottom: 1px solid #FFF;

	padding: 5px 15px;

}



.topclass h2{

	color:#D39B3E;

	font-family: 'Alef';

font-size: 18px;

line-height: 20px;

font-weight: normal;

text-align: left;

margin: 20px 0px 10px 0px!important;

text-transform: uppercase;

padding:0px;

}



.conbutton{

	color:#D39B3E;

	font-family: 'Alef';

font-size: 20px;

line-height: 20px;

font-weight: bold;

text-align: left;

margin: 20px 0px 15px 0px!important;

text-transform: uppercase;

padding: 5px 15px 20px 15px;

border-bottom: 1px solid #FFF;

}



.conbutton a:link,.conbutton a:visited,.conbutton a:hover{

		color:#D39B3E;

		font-weight:bold;

}



.topclass p{

	padding-bottom:10px;

	margin:0px;

}



.topclass .caplink a:link, .topclass .caplink a:visited{

	font-size:15px;

	color:#FFF;

}



.topclass .newsletterright{

	text-align:center;

}



.headerimg{

	margin:-1px 0px 0px 0px;

}



/*----------BLOG--------------------*/



.postimg{

	float:right;

	margin-left:20px;

}



.postimg img{ margin:5px 0px;}



.blogpost, .blogdetail{

	padding:10px;

}



.blogpost h2{

font-size: 20px;

color: #134276;

margin:15px 0 5px 0;

}



.blogdetail h1{

padding: 0px 0px 35px;

margin: 0px;

font-size: 24px;

color: #65A332;

}



.blogpost h2 a:link, .blogpost h2 a:visited{

	color:#e10a37;

}



.blogpost img{

	padding:5px;

	margin:0px 15px 0px 0px !important;

	border:1px solid #e10a37;

	width:25% !important;

}



.entry{

	font-size:13px;

}



.blogpost .post-meta, .blogdetail .post-meta {

    margin:0px;

    padding: 6px 0 5px 5px;

}



.blogpost .post-meta span.inner, .blogdetail .post-meta span.inner {

background: url(core/images/postinfo-icon.png) no-repeat scroll left top transparent;

padding: 3px 0px 9px 28px;

font-style: italic;

color: #ACABAB;

}



.blogpost .post, .blogpostindex .post{

padding-bottom: 15px;

width: 100%;

background: url(core/images/inner-content-line.png) no-repeat bottom center;

margin: 20px 0px 10px;



}



a.blogreadmore {

    background: url(core/images/readmore-sprite2.png) no-repeat bottom right;

    color: #e10a37;

    display: block;

    float: right;

    font-size: 11px;

    font-weight: bold;

    height: 24px;

    line-height: 20px;

    margin-top: 3px;

    padding-right: 11px;

}



a.blogreadmore span {

    background: url(core/images/readmore-sprite.png) no-repeat bottom left;

    display: block;

    padding: 0 3px 4px 15px;

}



a.blogreadmore:hover { background: url("core/images/readmore-sprite2.png") no-repeat scroll right top transparent; color:#e10a37; }

a.blogreadmore:hover span { background: url("core/images/readmore-sprite.png") no-repeat scroll 0 0 transparent; }



.blogdetail h6{

	font-size: 18px;

	background: #eee;

padding: 5px;

color: #134276;

}





.blogclass{

	border-bottom: 1px solid #FFF;

	padding: 5px 15px;

	color:#FFF;

	margin-bottom:15px;

}



.sidebarbg .blogclass ul li a{

	color:#FFF !important;

	text-decoration:none;

	line-height:25px;

}



.sidebarbg .blogclass ul li:hover{

	text-decoration:underline;

}



.sidebarbg .blogclass h2{

	color:#FFF;

	font-family: 'Alef';

font-size: 18px;

line-height: 20px;

font-weight: normal;

text-align: left;

margin: 20px 0px 10px 0px!important;

text-transform: uppercase;

padding:0px 0px 10px 0px;

border-bottom:1px solid #FFF;

}



marquee{

-internal-marquee-style: scroll;

-internal-marquee-direction: up;

-internal-marquee-increment: 0px;

}

/** Added by spinz ***************/
img{ max-width:100%; height:auto !important;}
.test_inner{ min-height:100px; display:inline-block; width:118%; padding:0 0 20px 0; }
.right{ background:url("justgage/images/sl_bg.png") no-repeat; padding:28px 20px; min-height:90px; color:#fff; margin:0 0px 0 10px; font-size:20px; font-weight:bold; }
.question .options li input{ margin:0 0 0 5px; position:relative; top:2px;}
.question .options li{ margin:0 0 5px 10px; background:#e1e1e1; padding:5px 10px; border-radius:10px; color:#000; display:inline-block;}
.question .options li:hover{ background:#65a432; color:#fff; cursor:pointer;}
.bg_green{ background:#65a432 !important; color:#fff !important;}
.measurement_s{ width:66%;}
#myValues{ position:absolute; right:20px;}
#speedometerWraper-myValues .envelope{ color:#fff;}
#speedometerWraper-myValues .numb{ display:none;}
#speedometerWraper-myValues .midNob, #speedometerWraper-myValues .nob{ display:none;}
.envelope{ background:url("justgage/images/guage_n.png") -4px 27px no-repeat;}
#speedometerWraper-myValues .speedPosition{ background:url("justgage/images/base.png") no-repeat; z-index:9999; width:51px !important; height:52px !important ; left: 125px !important; top: 126px !important; font-size:0px; }
#speedometerWraper-myValues .speedNobe div{ background:#42b86b; left:108px !important; width:60px !important;  }
.c_form.col-full{ width:100%; display:inline-block;}
.c_form.col-full .wpcf7{ margin:0px auto; width:50%;}
.c_form.col-full .wpcf7 .left{ float:left; padding:0 1% 0 0; width:48%;}
.tarea{padding:0 3% 0 0;}
.c_form.col-full form.wpcf7-form p input, form.wpcf7-form p textarea{ background:#e1e1e1; border-radius:15px; border:none; color:#000; font-weight:bold; font-family:arial; padding:5px 15px;}
.c_form.col-full .wpcf7-form-control.wpcf7-submit{
  background: #72c882;
  background-image: -webkit-linear-gradient(top, #72c882, #2fa122);
  background-image: -moz-linear-gradient(top, #72c882, #2fa122);
  background-image: -ms-linear-gradient(top, #72c882, #2fa122);
  background-image: -o-linear-gradient(top, #72c882, #2fa122);
  background-image: linear-gradient(to bottom, #72c882, #2fa122);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;

 }
.c_form.col-full .wpcf7-form-control.wpcf7-submit:hover {
  background: #2fa122;
  background-image: -webkit-linear-gradient(top, #2fa122, #72c882);
  background-image: -moz-linear-gradient(top, #2fa122, #72c882);
  background-image: -ms-linear-gradient(top, #2fa122, #72c882);
  background-image: -o-linear-gradient(top, #2fa122, #72c882);
  background-image: linear-gradient(to bottom, #2fa122, #72c882);
  text-decoration: none;
}
#myValues{ background:#41bd41; padding:10px 20px; border-radius:15px; color:#fff; text-transform:uppercase; border:none; cursor:pointer; font-weight:bold; }
#speedometerWraper-myValues .speedNobe{ height:8px !important;}
#speedometerWraper-myValues .envelope{ height:190px !important;}
@media(max-width:980px){
.measurement_s{ float:left !important;}
}
@media(min-width:700px) and (max-width:790px){
.measurement_s{ width:73%;}
.c_form.col-full .wpcf7{ width:100%;}
}
@media(min-width:500px) and (max-width:699px){
.measurement_s{ width:80%;}
.c_form.col-full .wpcf7{ width:100%;}
}
@media(min-width:400px) and (max-width:499px){
.measurement_s{ width:87%;}
.c_form.col-full .wpcf7{ width:100%;}
}
@media(min-width:200px) and (max-width:399px){
.measurement_s{ width:100%;}
.c_form.col-full .wpcf7{ width:100%;}
}
@media(max-width:600px){
	#speedometerWraper-myValues .envelope{ display: inline-block;    margin: 60px 0 0 0;}
#g1 {width:320px !important;}

}

